/*
Theme Name: MrBara
Theme URI: http://drfuri.com/mrbara
Author: DrFuri
Author URI: http://drfuri.com
Description: Responsive Multi-Purpose eCommerce WordPress Theme
Version: 1.0.0
License: GNU General Public License v2+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: mrbara
Domain Path: /lang/
Tags: one-column, two-columns, left-sidebar, right-sidebar, full-width-template, post-formats, theme-options, threaded-comments, translation-ready
*/
/* Variables ------------------------------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo.eot?12fvdu');
  src: url('../fonts/entypo.eot?#iefix12fvdu') format('embedded-opentype'), url('../fonts/entypo.woff?12fvdu') format('woff'), url('../fonts/entypo.ttf?12fvdu') format('truetype'), url('../fonts/entypo.svg?12fvdu#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="entypo-"],
[class*=" entypo-"] {
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.entypo-add-to-list:before {
  content: "\e600";
}
.entypo-classic-computer:before {
  content: "\e601";
}
.entypo-controller-fast-backward:before {
  content: "\e602";
}
.entypo-creative-commons-attribution:before {
  content: "\e603";
}
.entypo-creative-commons-noderivs:before {
  content: "\e604";
}
.entypo-creative-commons-noncommercial-eu:before {
  content: "\e605";
}
.entypo-creative-commons-noncommercial-us:before {
  content: "\e606";
}
.entypo-creative-commons-public-domain:before {
  content: "\e607";
}
.entypo-creative-commons-remix:before {
  content: "\e608";
}
.entypo-creative-commons-share:before {
  content: "\e609";
}
.entypo-creative-commons-sharealike:before {
  content: "\e60a";
}
.entypo-creative-commons:before {
  content: "\e60b";
}
.entypo-document-landscape:before {
  content: "\e60c";
}
.entypo-remove-user:before {
  content: "\e60d";
}
.entypo-warning:before {
  content: "\e60e";
}
.entypo-arrow-bold-down:before {
  content: "\e60f";
}
.entypo-arrow-bold-left:before {
  content: "\e610";
}
.entypo-arrow-bold-right:before {
  content: "\e611";
}
.entypo-arrow-bold-up:before {
  content: "\e612";
}
.entypo-arrow-down:before {
  content: "\e613";
}
.entypo-arrow-left:before {
  content: "\e614";
}
.entypo-arrow-long-down:before {
  content: "\e615";
}
.entypo-arrow-long-left:before {
  content: "\e616";
}
.entypo-arrow-long-right:before {
  content: "\e617";
}
.entypo-arrow-long-up:before {
  content: "\e618";
}
.entypo-arrow-right:before {
  content: "\e619";
}
.entypo-arrow-up:before {
  content: "\e61a";
}
.entypo-arrow-with-circle-down:before {
  content: "\e61b";
}
.entypo-arrow-with-circle-left:before {
  content: "\e61c";
}
.entypo-arrow-with-circle-right:before {
  content: "\e61d";
}
.entypo-arrow-with-circle-up:before {
  content: "\e61e";
}
.entypo-bookmark:before {
  content: "\e61f";
}
.entypo-bookmarks:before {
  content: "\e620";
}
.entypo-chevron-down:before {
  content: "\e621";
}
.entypo-chevron-left:before {
  content: "\e622";
}
.entypo-chevron-right:before {
  content: "\e623";
}
.entypo-chevron-small-down:before {
  content: "\e624";
}
.entypo-chevron-small-left:before {
  content: "\e625";
}
.entypo-chevron-small-right:before {
  content: "\e626";
}
.entypo-chevron-small-up:before {
  content: "\e627";
}
.entypo-chevron-thin-down:before {
  content: "\e628";
}
.entypo-chevron-thin-left:before {
  content: "\e629";
}
.entypo-chevron-thin-right:before {
  content: "\e62a";
}
.entypo-chevron-thin-up:before {
  content: "\e62b";
}
.entypo-chevron-up:before {
  content: "\e62c";
}
.entypo-chevron-with-circle-down:before {
  content: "\e62d";
}
.entypo-chevron-with-circle-left:before {
  content: "\e62e";
}
.entypo-chevron-with-circle-right:before {
  content: "\e62f";
}
.entypo-chevron-with-circle-up:before {
  content: "\e630";
}
.entypo-cloud:before {
  content: "\e631";
}
.entypo-controller-fast-forward:before {
  content: "\e632";
}
.entypo-controller-jump-to-start:before {
  content: "\e633";
}
.entypo-controller-next:before {
  content: "\e634";
}
.entypo-controller-paus:before {
  content: "\e635";
}
.entypo-controller-play:before {
  content: "\e636";
}
.entypo-controller-record:before {
  content: "\e637";
}
.entypo-controller-stop:before {
  content: "\e638";
}
.entypo-controller-volume:before {
  content: "\e639";
}
.entypo-dot-single:before {
  content: "\e63a";
}
.entypo-dots-three-horizontal:before {
  content: "\e63b";
}
.entypo-dots-three-vertical:before {
  content: "\e63c";
}
.entypo-dots-two-horizontal:before {
  content: "\e63d";
}
.entypo-dots-two-vertical:before {
  content: "\e63e";
}
.entypo-download:before {
  content: "\e63f";
}
.entypo-emoji-flirt:before {
  content: "\e640";
}
.entypo-flow-branch:before {
  content: "\e641";
}
.entypo-flow-cascade:before {
  content: "\e642";
}
.entypo-flow-line:before {
  content: "\e643";
}
.entypo-flow-parallel:before {
  content: "\e644";
}
.entypo-flow-tree:before {
  content: "\e645";
}
.entypo-install:before {
  content: "\e646";
}
.entypo-layers:before {
  content: "\e647";
}
.entypo-open-book:before {
  content: "\e648";
}
.entypo-resize-100:before {
  content: "\e649";
}
.entypo-resize-full-screen:before {
  content: "\e64a";
}
.entypo-save:before {
  content: "\e64b";
}
.entypo-select-arrows:before {
  content: "\e64c";
}
.entypo-sound-mute:before {
  content: "\e64d";
}
.entypo-sound:before {
  content: "\e64e";
}
.entypo-trash:before {
  content: "\e64f";
}
.entypo-triangle-down:before {
  content: "\e650";
}
.entypo-triangle-left:before {
  content: "\e651";
}
.entypo-triangle-right:before {
  content: "\e652";
}
.entypo-triangle-up:before {
  content: "\e653";
}
.entypo-uninstall:before {
  content: "\e654";
}
.entypo-upload-to-cloud:before {
  content: "\e655";
}
.entypo-upload:before {
  content: "\e656";
}
.entypo-add-user:before {
  content: "\e657";
}
.entypo-address:before {
  content: "\e658";
}
.entypo-adjust:before {
  content: "\e659";
}
.entypo-air:before {
  content: "\e65a";
}
.entypo-aircraft-landing:before {
  content: "\e65b";
}
.entypo-aircraft-take-off:before {
  content: "\e65c";
}
.entypo-aircraft:before {
  content: "\e65d";
}
.entypo-align-bottom:before {
  content: "\e65e";
}
.entypo-align-horizontal-middle:before {
  content: "\e65f";
}
.entypo-align-left:before {
  content: "\e660";
}
.entypo-align-right:before {
  content: "\e661";
}
.entypo-align-top:before {
  content: "\e662";
}
.entypo-align-vertical-middle:before {
  content: "\e663";
}
.entypo-archive:before {
  content: "\e664";
}
.entypo-area-graph:before {
  content: "\e665";
}
.entypo-attachment:before {
  content: "\e666";
}
.entypo-awareness-ribbon:before {
  content: "\e667";
}
.entypo-back-in-time:before {
  content: "\e668";
}
.entypo-back:before {
  content: "\e669";
}
.entypo-bar-graph:before {
  content: "\e66a";
}
.entypo-battery:before {
  content: "\e66b";
}
.entypo-beamed-note:before {
  content: "\e66c";
}
.entypo-bell:before {
  content: "\e66d";
}
.entypo-blackboard:before {
  content: "\e66e";
}
.entypo-block:before {
  content: "\e66f";
}
.entypo-book:before {
  content: "\e670";
}
.entypo-bowl:before {
  content: "\e671";
}
.entypo-box:before {
  content: "\e672";
}
.entypo-briefcase:before {
  content: "\e673";
}
.entypo-browser:before {
  content: "\e674";
}
.entypo-brush:before {
  content: "\e675";
}
.entypo-bucket:before {
  content: "\e676";
}
.entypo-cake:before {
  content: "\e677";
}
.entypo-calculator:before {
  content: "\e678";
}
.entypo-calendar:before {
  content: "\e679";
}
.entypo-camera:before {
  content: "\e67a";
}
.entypo-ccw:before {
  content: "\e67b";
}
.entypo-chat:before {
  content: "\e67c";
}
.entypo-check:before {
  content: "\e67d";
}
.entypo-circle-with-cross:before {
  content: "\e67e";
}
.entypo-circle-with-minus:before {
  content: "\e67f";
}
.entypo-circle-with-plus:before {
  content: "\e680";
}
.entypo-circle:before {
  content: "\e681";
}
.entypo-circular-graph:before {
  content: "\e682";
}
.entypo-clapperboard:before {
  content: "\e683";
}
.entypo-clipboard:before {
  content: "\e684";
}
.entypo-clock:before {
  content: "\e685";
}
.entypo-code:before {
  content: "\e686";
}
.entypo-cog:before {
  content: "\e687";
}
.entypo-colours:before {
  content: "\e688";
}
.entypo-compass:before {
  content: "\e689";
}
.entypo-copy:before {
  content: "\e68a";
}
.entypo-credit-card:before {
  content: "\e68b";
}
.entypo-credit:before {
  content: "\e68c";
}
.entypo-cross:before {
  content: "\e68d";
}
.entypo-cup:before {
  content: "\e68e";
}
.entypo-cw:before {
  content: "\e68f";
}
.entypo-cycle:before {
  content: "\e690";
}
.entypo-database:before {
  content: "\e691";
}
.entypo-dial-pad:before {
  content: "\e692";
}
.entypo-direction:before {
  content: "\e693";
}
.entypo-document:before {
  content: "\e694";
}
.entypo-documents:before {
  content: "\e695";
}
.entypo-drink:before {
  content: "\e696";
}
.entypo-drive:before {
  content: "\e697";
}
.entypo-drop:before {
  content: "\e698";
}
.entypo-edit:before {
  content: "\e699";
}
.entypo-email:before {
  content: "\e69a";
}
.entypo-emoji-happy:before {
  content: "\e69b";
}
.entypo-emoji-neutral:before {
  content: "\e69c";
}
.entypo-emoji-sad:before {
  content: "\e69d";
}
.entypo-erase:before {
  content: "\e69e";
}
.entypo-eraser:before {
  content: "\e69f";
}
.entypo-export:before {
  content: "\e6a0";
}
.entypo-eye:before {
  content: "\e6a1";
}
.entypo-feather:before {
  content: "\e6a2";
}
.entypo-flag:before {
  content: "\e6a3";
}
.entypo-flash:before {
  content: "\e6a4";
}
.entypo-flashlight:before {
  content: "\e6a5";
}
.entypo-flat-brush:before {
  content: "\e6a6";
}
.entypo-folder-images:before {
  content: "\e6a7";
}
.entypo-folder-music:before {
  content: "\e6a8";
}
.entypo-folder-video:before {
  content: "\e6a9";
}
.entypo-folder:before {
  content: "\e6aa";
}
.entypo-forward:before {
  content: "\e6ab";
}
.entypo-funnel:before {
  content: "\e6ac";
}
.entypo-game-controller:before {
  content: "\e6ad";
}
.entypo-gauge:before {
  content: "\e6ae";
}
.entypo-globe:before {
  content: "\e6af";
}
.entypo-graduation-cap:before {
  content: "\e6b0";
}
.entypo-grid:before {
  content: "\e6b1";
}
.entypo-hair-cross:before {
  content: "\e6b2";
}
.entypo-hand:before {
  content: "\e6b3";
}
.entypo-heart-outlined:before {
  content: "\e6b4";
}
.entypo-heart:before {
  content: "\e6b5";
}
.entypo-help-with-circle:before {
  content: "\e6b6";
}
.entypo-help:before {
  content: "\e6b7";
}
.entypo-home:before {
  content: "\e6b8";
}
.entypo-hour-glass:before {
  content: "\e6b9";
}
.entypo-image-inverted:before {
  content: "\e6ba";
}
.entypo-image:before {
  content: "\e6bb";
}
.entypo-images:before {
  content: "\e6bc";
}
.entypo-inbox:before {
  content: "\e6bd";
}
.entypo-infinity:before {
  content: "\e6be";
}
.entypo-info-with-circle:before {
  content: "\e6bf";
}
.entypo-info:before {
  content: "\e6c0";
}
.entypo-key:before {
  content: "\e6c1";
}
.entypo-keyboard:before {
  content: "\e6c2";
}
.entypo-lab-flask:before {
  content: "\e6c3";
}
.entypo-landline:before {
  content: "\e6c4";
}
.entypo-language:before {
  content: "\e6c5";
}
.entypo-laptop:before {
  content: "\e6c6";
}
.entypo-leaf:before {
  content: "\e6c7";
}
.entypo-level-down:before {
  content: "\e6c8";
}
.entypo-level-up:before {
  content: "\e6c9";
}
.entypo-lifebuoy:before {
  content: "\e6ca";
}
.entypo-light-bulb:before {
  content: "\e6cb";
}
.entypo-light-down:before {
  content: "\e6cc";
}
.entypo-light-up:before {
  content: "\e6cd";
}
.entypo-line-graph:before {
  content: "\e6ce";
}
.entypo-link:before {
  content: "\e6cf";
}
.entypo-list:before {
  content: "\e6d0";
}
.entypo-location-pin:before {
  content: "\e6d1";
}
.entypo-location:before {
  content: "\e6d2";
}
.entypo-lock-open:before {
  content: "\e6d3";
}
.entypo-lock:before {
  content: "\e6d4";
}
.entypo-log-out:before {
  content: "\e6d5";
}
.entypo-login:before {
  content: "\e6d6";
}
.entypo-loop:before {
  content: "\e6d7";
}
.entypo-magnet:before {
  content: "\e6d8";
}
.entypo-magnifying-glass:before {
  content: "\e6d9";
}
.entypo-mail:before {
  content: "\e6da";
}
.entypo-man:before {
  content: "\e6db";
}
.entypo-map:before {
  content: "\e6dc";
}
.entypo-mask:before {
  content: "\e6dd";
}
.entypo-medal:before {
  content: "\e6de";
}
.entypo-megaphone:before {
  content: "\e6df";
}
.entypo-menu:before {
  content: "\e6e0";
}
.entypo-message:before {
  content: "\e6e1";
}
.entypo-mic:before {
  content: "\e6e2";
}
.entypo-minus:before {
  content: "\e6e3";
}
.entypo-mobile:before {
  content: "\e6e4";
}
.entypo-modern-mic:before {
  content: "\e6e5";
}
.entypo-moon:before {
  content: "\e6e6";
}
.entypo-mouse:before {
  content: "\e6e7";
}
.entypo-music:before {
  content: "\e6e8";
}
.entypo-network:before {
  content: "\e6e9";
}
.entypo-new-message:before {
  content: "\e6ea";
}
.entypo-new:before {
  content: "\e6eb";
}
.entypo-news:before {
  content: "\e6ec";
}
.entypo-note:before {
  content: "\e6ed";
}
.entypo-notification:before {
  content: "\e6ee";
}
.entypo-old-mobile:before {
  content: "\e6ef";
}
.entypo-old-phone:before {
  content: "\e6f0";
}
.entypo-palette:before {
  content: "\e6f1";
}
.entypo-paper-plane:before {
  content: "\e6f2";
}
.entypo-pencil:before {
  content: "\e6f3";
}
.entypo-phone:before {
  content: "\e6f4";
}
.entypo-pie-chart:before {
  content: "\e6f5";
}
.entypo-pin:before {
  content: "\e6f6";
}
.entypo-plus:before {
  content: "\e6f7";
}
.entypo-popup:before {
  content: "\e6f8";
}
.entypo-power-plug:before {
  content: "\e6f9";
}
.entypo-price-ribbon:before {
  content: "\e6fa";
}
.entypo-price-tag:before {
  content: "\e6fb";
}
.entypo-print:before {
  content: "\e6fc";
}
.entypo-progress-empty:before {
  content: "\e6fd";
}
.entypo-progress-full:before {
  content: "\e6fe";
}
.entypo-progress-one:before {
  content: "\e6ff";
}
.entypo-progress-two:before {
  content: "\e700";
}
.entypo-publish:before {
  content: "\e701";
}
.entypo-quote:before {
  content: "\e702";
}
.entypo-radio:before {
  content: "\e703";
}
.entypo-reply-all:before {
  content: "\e704";
}
.entypo-reply:before {
  content: "\e705";
}
.entypo-retweet:before {
  content: "\e706";
}
.entypo-rocket:before {
  content: "\e707";
}
.entypo-round-brush:before {
  content: "\e708";
}
.entypo-rss:before {
  content: "\e709";
}
.entypo-ruler:before {
  content: "\e70a";
}
.entypo-scissors:before {
  content: "\e70b";
}
.entypo-share-alternitive:before {
  content: "\e70c";
}
.entypo-share:before {
  content: "\e70d";
}
.entypo-shareable:before {
  content: "\e70e";
}
.entypo-shield:before {
  content: "\e70f";
}
.entypo-shop:before {
  content: "\e710";
}
.entypo-shopping-bag:before {
  content: "\e711";
}
.entypo-shopping-basket:before {
  content: "\e712";
}
.entypo-shopping-cart:before {
  content: "\e713";
}
.entypo-shuffle:before {
  content: "\e714";
}
.entypo-signal:before {
  content: "\e715";
}
.entypo-sound-mix:before {
  content: "\e716";
}
.entypo-sports-club:before {
  content: "\e717";
}
.entypo-spreadsheet:before {
  content: "\e718";
}
.entypo-squared-cross:before {
  content: "\e719";
}
.entypo-squared-minus:before {
  content: "\e71a";
}
.entypo-squared-plus:before {
  content: "\e71b";
}
.entypo-star-outlined:before {
  content: "\e71c";
}
.entypo-star:before {
  content: "\e71d";
}
.entypo-stopwatch:before {
  content: "\e71e";
}
.entypo-suitcase:before {
  content: "\e71f";
}
.entypo-swap:before {
  content: "\e720";
}
.entypo-sweden:before {
  content: "\e721";
}
.entypo-switch:before {
  content: "\e722";
}
.entypo-tablet:before {
  content: "\e723";
}
.entypo-tag:before {
  content: "\e724";
}
.entypo-text-document-inverted:before {
  content: "\e725";
}
.entypo-text-document:before {
  content: "\e726";
}
.entypo-text:before {
  content: "\e727";
}
.entypo-thermometer:before {
  content: "\e728";
}
.entypo-thumbs-down:before {
  content: "\e729";
}
.entypo-thumbs-up:before {
  content: "\e72a";
}
.entypo-thunder-cloud:before {
  content: "\e72b";
}
.entypo-ticket:before {
  content: "\e72c";
}
.entypo-time-slot:before {
  content: "\e72d";
}
.entypo-tools:before {
  content: "\e72e";
}
.entypo-traffic-cone:before {
  content: "\e72f";
}
.entypo-tree:before {
  content: "\e730";
}
.entypo-trophy:before {
  content: "\e731";
}
.entypo-tv:before {
  content: "\e732";
}
.entypo-typing:before {
  content: "\e733";
}
.entypo-unread:before {
  content: "\e734";
}
.entypo-untag:before {
  content: "\e735";
}
.entypo-user:before {
  content: "\e736";
}
.entypo-users:before {
  content: "\e737";
}
.entypo-v-card:before {
  content: "\e738";
}
.entypo-video:before {
  content: "\e739";
}
.entypo-vinyl:before {
  content: "\e73a";
}
.entypo-voicemail:before {
  content: "\e73b";
}
.entypo-wallet:before {
  content: "\e73c";
}
.entypo-water:before {
  content: "\e73d";
}
.entypo-500px-with-circle:before {
  content: "\e73e";
}
.entypo-500px:before {
  content: "\e73f";
}
.entypo-basecamp:before {
  content: "\e740";
}
.entypo-behance:before {
  content: "\e741";
}
.entypo-creative-cloud:before {
  content: "\e742";
}
.entypo-dropbox:before {
  content: "\e743";
}
.entypo-evernote:before {
  content: "\e744";
}
.entypo-flattr:before {
  content: "\e745";
}
.entypo-foursquare:before {
  content: "\e746";
}
.entypo-google-drive:before {
  content: "\e747";
}
.entypo-google-hangouts:before {
  content: "\e748";
}
.entypo-grooveshark:before {
  content: "\e749";
}
.entypo-icloud:before {
  content: "\e74a";
}
.entypo-mixi:before {
  content: "\e74b";
}
.entypo-onedrive:before {
  content: "\e74c";
}
.entypo-paypal:before {
  content: "\e74d";
}
.entypo-picasa:before {
  content: "\e74e";
}
.entypo-qq:before {
  content: "\e74f";
}
.entypo-rdio-with-circle:before {
  content: "\e750";
}
.entypo-renren:before {
  content: "\e751";
}
.entypo-scribd:before {
  content: "\e752";
}
.entypo-sina-weibo:before {
  content: "\e753";
}
.entypo-skype-with-circle:before {
  content: "\e754";
}
.entypo-skype:before {
  content: "\e755";
}
.entypo-slideshare:before {
  content: "\e756";
}
.entypo-smashing:before {
  content: "\e757";
}
.entypo-soundcloud:before {
  content: "\e758";
}
.entypo-spotify-with-circle:before {
  content: "\e759";
}
.entypo-spotify:before {
  content: "\e75a";
}
.entypo-swarm:before {
  content: "\e75b";
}
.entypo-vine-with-circle:before {
  content: "\e75c";
}
.entypo-vine:before {
  content: "\e75d";
}
.entypo-vk-alternitive:before {
  content: "\e75e";
}
.entypo-vk-with-circle:before {
  content: "\e75f";
}
.entypo-vk:before {
  content: "\e760";
}
.entypo-xing-with-circle:before {
  content: "\e761";
}
.entypo-xing:before {
  content: "\e762";
}
.entypo-yelp:before {
  content: "\e763";
}
.entypo-dribbble-with-circle:before {
  content: "\e764";
}
.entypo-dribbble:before {
  content: "\e765";
}
.entypo-facebook-with-circle:before {
  content: "\e766";
}
.entypo-facebook:before {
  content: "\e767";
}
.entypo-flickr-with-circle:before {
  content: "\e768";
}
.entypo-flickr:before {
  content: "\e769";
}
.entypo-github-with-circle:before {
  content: "\e76a";
}
.entypo-github:before {
  content: "\e76b";
}
.entypo-google-with-circle:before {
  content: "\e76c";
}
.entypo-google:before {
  content: "\e76d";
}
.entypo-instagram-with-circle:before {
  content: "\e76e";
}
.entypo-instagram:before {
  content: "\e76f";
}
.entypo-lastfm-with-circle:before {
  content: "\e770";
}
.entypo-lastfm:before {
  content: "\e771";
}
.entypo-linkedin-with-circle:before {
  content: "\e772";
}
.entypo-linkedin:before {
  content: "\e773";
}
.entypo-pinterest-with-circle:before {
  content: "\e774";
}
.entypo-pinterest:before {
  content: "\e775";
}
.entypo-rdio:before {
  content: "\e776";
}
.entypo-stumbleupon-with-circle:before {
  content: "\e777";
}
.entypo-stumbleupon:before {
  content: "\e778";
}
.entypo-tumblr-with-circle:before {
  content: "\e779";
}
.entypo-tumblr:before {
  content: "\e77a";
}
.entypo-twitter-with-circle:before {
  content: "\e77b";
}
.entypo-twitter:before {
  content: "\e77c";
}
.entypo-vimeo-with-circle:before {
  content: "\e77d";
}
.entypo-vimeo:before {
  content: "\e77e";
}
.entypo-youtube-with-circle:before {
  content: "\e77f";
}
.entypo-youtube:before {
  content: "\e780";
}
.ui-datepicker {
  background: #fff;
  padding: 0;
  border: 1px solid #ddd;
}
.ui-datepicker-header {
  color: #fff;
  padding: 10px;
  background: #00bff3;
}
.ui-datepicker-prev {
  color: #fff;
  float: left;
  cursor: pointer;
}
.ui-datepicker-prev:before {
  font-family: 'entypo';
  content: "\e622";
}
.ui-datepicker-prev .ui-icon {
  display: none;
}
.ui-datepicker-next {
  color: #fff;
  float: right;
  cursor: pointer;
}
.ui-datepicker-next:after {
  font-family: 'entypo';
  content: "\e623";
}
.ui-datepicker-next .ui-icon {
  display: none;
}
.ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}
.ui-datepicker table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}
.ui-datepicker table th,
.ui-datepicker table td {
  border: none;
  text-align: center;
}
.ui-datepicker table th {
  padding: 10px;
  color: #fff;
  background: #23282d;
}
.ui-datepicker table a {
  display: block;
  padding: 7px 10px;
  color: #23282d;
  text-decoration: none;
}
.ui-datepicker table a.ui-state-active {
  color: #fff;
  background: #23282d;
}
.ui-datepicker table a.ui-state-hover,
.ui-datepicker table a.ui-state-highlight {
  color: #00bff3;
}
.ui-datepicker-trigger {
  transition: all 0.3s;
  color: #fff;
  padding: 7px 10px;
  margin: 0;
  border: none;
  cursor: pointer;
  background: #555;
}
.ui-datepicker-trigger:hover {
  background: #23282d;
}
#theme-options {
  /** Inputs & Textarea **/
  /** Image **/
  /** Background **/
  /** Button Group **/
  /** Image Toggle **/
  /** Color Picker **/
  /** Social Icons **/
  /** Icon Picker **/
  /** Switcher **/
  /** Code Editor **/
  /** Editor */
  /** Color Scheme */
}
#theme-options .field {
  margin-bottom: 20px;
}
#theme-options .field > .input {
  margin-left: 200px;
}
#theme-options .field .field {
  clear: none;
}
#theme-options .field .field .label {
  float: none;
  width: auto;
}
#theme-options .field .field .input {
  margin-left: 0;
}
#theme-options .label {
  display: block;
  padding: 0;
  float: left;
  width: 180px;
}
#theme-options .label label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
}
#theme-options .desc {
  font-size: 12px;
  color: #555d66;
}
#theme-options .subdesc {
  font-size: 12px;
  color: #555d66;
  margin: 5px 0 0 0;
}
#theme-options .suffix {
  height: 35px;
  padding: 8px 10px 8px 0;
  font-size: 11px;
}
#theme-options .divider {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
  padding-bottom: 8px;
  clear: both;
  font-weight: 700;
  text-transform: uppercase;
}
#theme-options input[type="text"],
#theme-options input[type="number"],
#theme-options input[type="email"],
#theme-options select,
#theme-options textarea {
  border: none;
  padding: 5px;
  width: 150px;
  margin: 0 5px 0 0;
  border: 1px solid #ddd;
  background-color: #fff;
}
#theme-options input[type="text"].input-mini,
#theme-options input[type="number"].input-mini,
#theme-options input[type="email"].input-mini,
#theme-options select.input-mini,
#theme-options textarea.input-mini {
  width: 50px;
}
#theme-options input[type="text"].input-small,
#theme-options input[type="number"].input-small,
#theme-options input[type="email"].input-small,
#theme-options select.input-small,
#theme-options textarea.input-small {
  width: 150px;
}
#theme-options input[type="text"].input-medium,
#theme-options input[type="number"].input-medium,
#theme-options input[type="email"].input-medium,
#theme-options select.input-medium,
#theme-options textarea.input-medium {
  width: 250px;
}
#theme-options input[type="text"].input-large,
#theme-options input[type="number"].input-large,
#theme-options input[type="email"].input-large,
#theme-options select.input-large,
#theme-options textarea.input-large {
  width: 350px;
}
#theme-options input[type="text"].input-xlarge,
#theme-options input[type="number"].input-xlarge,
#theme-options input[type="email"].input-xlarge,
#theme-options select.input-xlarge,
#theme-options textarea.input-xlarge {
  width: 450px;
}
#theme-options input[type="text"].input-xxlarge,
#theme-options input[type="number"].input-xxlarge,
#theme-options input[type="email"].input-xxlarge,
#theme-options select.input-xxlarge,
#theme-options textarea.input-xxlarge {
  width: 99%;
}
#theme-options input[type="text"],
#theme-options input[type="number"],
#theme-options input[type="email"],
#theme-options select {
  height: 35px;
}
#theme-options select {
  padding-top: 8px;
}
#theme-options textarea {
  width: 100%;
}
#theme-options .images-holder {
  text-align: center;
  width: 485px;
  height: 150px;
  position: relative;
  border: 1px dashed #ddd;
  background: #fff;
}
#theme-options .images-holder i {
  color: #ebebeb;
  font-size: 32px;
  display: block;
  margin-top: 30px;
}
#theme-options .images-holder img {
  display: none;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
#theme-options .images-holder .button {
  margin: 20px 10px 0 10px;
}
#theme-options .images-holder .button-clear {
  transition: all 0.3s;
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
  color: #555;
  font-size: 20px;
  cursor: pointer;
}
#theme-options .images-holder .images-sort {
  *zoom: 1;
  position: relative;
}
#theme-options .images-holder .images-sort:before,
#theme-options .images-holder .images-sort:after {
  content: " ";
  display: table;
}
#theme-options .images-holder .images-sort:after {
  clear: both;
}
#theme-options .images-holder .single-image,
#theme-options .images-holder .image-placeholder {
  position: relative;
  float: left;
  margin: 10px;
  width: 100px;
  height: 100px;
}
#theme-options .images-holder .image-placeholder {
  background-color: #ebebeb;
}
#theme-options .images-holder.has-image {
  height: auto;
}
#theme-options .images-holder.has-image i {
  display: none;
}
#theme-options .images-holder.has-image img {
  display: block;
  vertical-align: middle;
}
#theme-options .images-holder.has-image .button-select {
  display: none;
}
#theme-options .images-holder.has-image .button-clear {
  display: block;
}
#theme-options .images-holder.has-image:hover > .button-clear,
#theme-options .images-holder.has-image .single-image:hover > .button-clear {
  color: #ff0000;
}
#theme-options .images-holder.has-image .single-image:hover {
  cursor: move;
}
#theme-options .images-holder.has-image.multiple .button-select {
  display: inline-block;
  margin-bottom: 10px;
}
#theme-options .field-background select {
  width: 105px;
}
#theme-options .field-background .background-position {
  margin-bottom: 10px;
}
#theme-options .background-preview {
  text-align: center;
  width: 400px;
  height: 202px;
  margin-right: 20px !important;
  position: relative;
  border: 1px dashed #ddd;
  background-color: #fff;
}
#theme-options .background-preview .button {
  margin: 85px 10px 0 10px;
}
#theme-options .background-preview .button-clear {
  box-shadow: 0 0 3px #555;
  display: none;
}
#theme-options .background-preview.has-image .button-select {
  display: none;
}
#theme-options .background-preview.has-image .button-clear {
  display: inline;
}
#theme-options .background-patterns .pattern {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #ddd;
  background-repeat: repeat;
}
#theme-options .background-patterns .pattern img {
  display: none;
}
#theme-options .background-patterns .pattern.active {
  border: 2px solid #00bff3;
}
#theme-options .button-group .button {
  border-radius: 0;
  color: #fff;
  margin-right: 0;
  margin-left: 0;
  border-left: 1px solid #ddd;
  line-height: 35px;
  height: 35px;
}
#theme-options .button-group .button:first-child {
  border-left-width: 0;
}
#theme-options .button-group .button.active {
  background: #00bff3;
}
#theme-options .button-group label input {
  display: none;
}
#theme-options .field-image_toggle img {
  border: 3px solid #fff;
  padding: 1px;
  background-color: #f1f1f1;
}
#theme-options .field-image_toggle .active img {
  border-color: #00bff3;
  background-color: transparent;
}
#theme-options .field-image_toggle label input {
  display: none;
}
#theme-options .horizontal > label,
#theme-options .horizontal > div {
  display: inline-block;
  margin: 0 5px 10px 0;
  vertical-align: top;
}
#theme-options .vertical > label {
  display: block;
  margin-bottom: 10px;
}
#theme-options .field-font .desc {
  display: block;
}
#theme-options .field-font .button-group {
  font-family: "Times New Roman", Times, serif;
}
#theme-options .field-font .button-group .button {
  font-size: 14px;
}
#theme-options .field-font .button-group .button strong {
  font-weight: 700;
}
#theme-options .wp-picker-container {
  position: relative;
  border: 1px solid #e8e8e8;
}
#theme-options .wp-picker-input-wrap,
#theme-options .wp-picker-holder {
  position: absolute;
  z-index: 99;
  left: 0;
}
#theme-options .wp-picker-input-wrap {
  top: 40px;
  display: block;
  width: 200px;
}
#theme-options .wp-picker-input-wrap input[type="text"] {
  width: 60px;
}
#theme-options .wp-picker-holder {
  top: 75px;
}
#theme-options .wp-picker-holder a {
  transition: none;
  box-sizing: content-box;
}
#theme-options .wp-picker-holder .iris-picker,
#theme-options .wp-picker-holder .iris-square-handle {
  box-sizing: content-box;
}
#theme-options .wp-color-result {
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  height: 35px;
  outline: none;
  top: 0;
  margin: 0;
  box-shadow: none;
}
#theme-options .wp-color-result:after {
  box-sizing: border-box;
  border-radius: 0;
  height: 35px;
  line-height: 35px;
  border-color: #e8e8e8;
}
#theme-options .field-social .hidden {
  display: none;
}
#theme-options .field-social .active {
  display: block;
}
#theme-options .socials-actived {
  margin-bottom: 10px;
}
#theme-options .socials-actived .social-link-input {
  background: #fff;
  border: 1px solid #ddd;
  margin: 5px 0;
}
#theme-options .socials-actived .social-link-input label {
  float: left;
}
#theme-options .socials-actived .social-link-input i {
  float: right;
  cursor: pointer;
}
#theme-options .socials-actived .social-link-input .field {
  margin: 0 40px 0 40px;
}
#theme-options .socials-actived i,
#theme-options .socials-actived label {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
}
#theme-options .socials-actived input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}
#theme-options .socials-actived .entypo-facebook {
  color: #39599f;
}
#theme-options .socials-actived .entypo-twitter {
  color: #45b0e3;
}
#theme-options .socials-actived .entypo-google {
  color: #df5138;
}
#theme-options .socials-actived .entypo-flickr {
  color: #ff0086;
}
#theme-options .socials-actived .entypo-vimeo {
  color: #45afe1;
}
#theme-options .socials-actived .entypo-youtube {
  color: #e52d27;
}
#theme-options .socials-actived .entypo-linkedin {
  color: #0175b2;
}
#theme-options .socials-actived .entypo-pinterest {
  color: #cd2026;
}
#theme-options .socials-actived .entypo-dribbble {
  color: #e84c89;
}
#theme-options .socials-actived .entypo-behance {
  color: #329dd5;
}
#theme-options .socials-actived .entypo-soundcloud {
  color: #f65d0d;
}
#theme-options .socials-actived .entypo-spotify {
  color: #7eb615;
}
#theme-options .socials-actived .entypo-github {
  color: #000000;
}
#theme-options .socials-actived .entypo-instagram {
  color: #5280a4;
}
#theme-options .socials-actived .entypo-picasa {
  color: #8e68a3;
}
#theme-options .socials-actived .entypo-tumblr {
  color: #2a445d;
}
#theme-options .socials-actived .entypo-foursquare {
  color: #ef4b78;
}
#theme-options .socials-actived .entypo-lastfm {
  color: #d7000e;
}
#theme-options .socials-inactived i {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  background: #fff;
}
#theme-options .field-icon {
  width: 75px;
  text-align: center;
  vertical-align: top;
}
#theme-options .field-icon .label {
  text-align: left;
}
#theme-options .icon-picker {
  width: 75px;
  height: 75px;
  position: relative;
  border: 1px dashed #ddd;
  background: #fff;
  box-sizing: border-box;
}
#theme-options .icon-picker.active,
#theme-options .icon-picker.active:hover {
  border-color: #666;
}
#theme-options .icon-picker .select,
#theme-options .icon-picker .remove {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
#theme-options .icon-picker .select {
  height: 73px;
  width: 73px;
  font-size: 30px;
  line-height: 73px;
  text-align: center;
  color: #333;
  display: block;
}
#theme-options .icon-picker .remove {
  background: #666;
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  text-align: center;
}
#theme-options .icon-picker img {
  width: 73px;
  height: 73px;
  display: none;
}
#theme-options .icon-picker.has-icon .remove,
#theme-options .icon-picker.has-icon img {
  display: block;
}
#theme-options .icon-picker.has-icon .remove {
  opacity: 0.5;
}
#theme-options .icon-picker.has-icon .remove:hover {
  opacity: 1;
}
#theme-options .icon-picker.has-icon .select {
  display: none;
}
#theme-options .icon-picker:hover {
  border-color: #ccc;
}
#theme-options .icon-picker:hover .select {
  display: block;
}
#theme-options .icon-picker:hover img {
  opacity: 0.5;
}
#theme-options .switcher {
  transition: all 0.3s;
  border-radius: 15px;
  width: 50px;
  height: 30px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #555;
}
#theme-options .switcher:before {
  transition: all 0.3s;
  border-radius: 50%;
  position: absolute;
  left: 22px;
  top: 2px;
  width: 26px;
  height: 26px;
  content: " ";
  background: #fff;
}
#theme-options .switcher.on {
  background: #00a651;
}
#theme-options .switcher.on:before {
  left: 2px;
}
#theme-options .switcher input[type=checkbox] {
  display: none;
}
#theme-options .ace_editor {
  height: 150px;
  border: 1px solid #ddd;
}
#theme-options .field-editor .wp-editor-tabs .wp-switch-editor {
  height: 36px;
}
#theme-options .field-editor textarea.wp-editor-area {
  border-color: transparent;
}
#theme-options .field-color_scheme .input label {
  width: 35px;
  height: 35px;
  margin: 3px;
  padding: 2px;
  border: 3px solid transparent;
  display: inline-block;
}
#theme-options .field-color_scheme .input label.active {
  border-color: #00bff3;
}
#theme-options .field-color_scheme .input label input {
  display: none;
}
#theme-options .field-color_scheme .input label span {
  display: block;
  height: 25px;
}
#theme-options .field-color_scheme .input .vertical label {
  display: block;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  transition: all 0.3s;
}
/* Options Header ------------------------------------------*/
.options-header {
  margin: 30px 0;
}
.options-header .help {
  font-size: 14px;
  color: #23282d;
  text-decoration: none;
  float: right;
  margin: 20px 0 0 25px;
}
.options-header .help:hover {
  color: #00bff3;
}
.options-header .help i {
  font-size: 18px;
  margin-right: 10px;
}
.options-header h1 {
  color: #23282d;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
.options-header h1 .theme-version,
.options-header h1 .theme-author {
  font-size: 12px;
  font-style: italic;
}
.options-header h1 a {
  color: #ebebeb;
  text-decoration: none;
}
.options-header h1 a:hover {
  color: #23282d;
}
/* Theme Options ------------------------------------------*/
#theme-options {
  background: #f1f1f1;
  border: 1px solid #ddd;
  color: #23282d;
  margin: 20px 0 0 0;
  position: relative;
}
#theme-options * {
  box-sizing: border-box;
}
#theme-options * :focus {
  box-shadow: none;
  outline: none;
}
#theme-options.minimized .options-menu {
  width: 60px;
}
#theme-options.minimized .options-menu .menu li .changes {
  display: none;
}
#theme-options.minimized .options-menu .menu a span {
  font-size: 0;
}
#theme-options.minimized .options-content {
  margin-left: 60px;
}
.options-menu {
  transition: all 0.5s;
  width: 240px;
  float: left;
}
.options-menu .menu {
  margin: 0;
  padding: 10px 0;
}
.options-menu .menu li {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.options-menu .menu li.current,
.options-menu .menu li:hover {
  background: #fff;
}
.options-menu .menu li .changes {
  border-radius: 50%;
  float: right;
  margin: 13px 20px 0 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.options-menu .menu li .changes.active {
  background: #00bff3;
}
.options-menu .menu a {
  overflow: hidden;
  display: block;
  outline: none;
  font-size: 14px;
  line-height: 40px;
  color: #23282d;
  text-decoration: none;
  padding: 5px 0 5px 20px;
  font-weight: 500;
}
.options-menu .menu a i {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  float: left;
  margin: 10px 0;
}
.options-menu .menu a span {
  transition: all 0.5s;
  display: block;
  margin: 0 0 0 30px;
}
.options-sections {
  position: relative;
  background: #fff;
}
.options-sections .options-back-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.options-content {
  transition: all 0.5s;
  margin-left: 240px;
  position: relative;
  background-color: #fff;
}
.options-content .button {
  transition: all 0.5s;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  height: 30px;
  padding: 0 15px;
  background: #555;
}
.options-content .button.button-primary {
  background: #00bff3;
}
.options-content .button.button-primary:hover,
.options-content .button.button-primary:focus {
  background: #0097c0;
}
.options-content .button:hover,
.options-content .button:focus,
.options-content .button:active {
  box-shadow: none;
  border: none;
  outline: none;
  color: #fff;
  background: #3b3b3b;
}
.options-content .toolbar {
  overflow: hidden;
  height: 60px;
  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.options-content .toolbar .toggle-menu {
  float: left;
  margin-top: 3px;
  cursor: pointer;
  font-size: 40px;
  color: #555;
}
.options-content .toolbar .quick-search {
  width: 230px;
  position: relative;
  float: left;
  margin: 5px 0 0 20px;
}
.options-content .toolbar .quick-search:after {
  font-family: 'entypo';
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 7px;
  color: #555;
  content: "\e6d9";
}
.options-content .toolbar #quick-search {
  border-radius: 15px;
  height: 30px;
  padding: 5px 30px 5px 20px;
  border: 1px solid #555;
  width: 100%;
  font-size: 13px;
  color: #23282d;
  line-height: 18px;
}
.options-content .toolbar #quick-search:focus {
  box-shadow: none;
  border: 1px solid #555;
}
.options-content .toolbar .save-options,
.options-content .toolbar .reset-options {
  float: right;
  margin: 5px 0 0 10px;
}
.options-content .toolbar .spinner {
  margin-top: 10px;
}
.options-content .section {
  float: left;
  width: 100%;
  padding: 20px;
  visibility: visible;
  display: none;
}
.options-content .section.active {
  display: block;
}
