/* ----------------------------------------------------
  
	File Name: style.css
	Template Name: Learn Plus
	Created By: Template Visual
	http://themeforest.net/user/templatevisual

	1. IMPORT
	2. SKELETON
	3. HEADER & MENUS
	4. SLIDER
	5. SECTIONS & MODULES,
	6. FOOTER & COPYRIGHTS, 
	7. PAGE STYLES
	8. COURSE STYLES, 
	9. LOGIN PAGE
	10. BX SLIDER
	11. PRICING TABLE
	12. CAROUSEL
	13. CONTACT PAGE
	14. BLOG
	15. SHOP
	16. SIDEBAR STYLES
	17. COLORS
	18. MENU BG
	19. RESPONSIVENESS
	
------------------------------------------------------- */  

/* ----------------------------------------------------
	SKELETON	
------------------------------------------------------- */  

	body {
		background: #eeedef;
		color: #777777;
		font-size: 14px;
		line-height: 1.9;
		letter-spacing: 0;
		font-weight: 400;
		padding:0;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	h1,h2,h3,h4,h5,h6{ 
		letter-spacing:0px;
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight:normal;
		position: relative;
		padding: 0 0 10px 0;         
		line-height:1.6;
		color:#363a47;
	}
	
	h1{
		font-size: 22px; 
	}
	
	h2{
		font-size: 20px; 	
	}
	
	h3{
		font-size: 18px; 
	}
	
	h4{
		font-size: 16px; 		
	}
	
	h5{
		font-size: 14px; 		
	}
	
	h6{
		font-size: 14px;  	
	}

	a {
		color:#696969;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
		text-decoration:none; 
	}
	img.aligncenter{
		display:block;
		text-align:center;
		display: block;
		margin:0 auto 20px auto;
		padding:0px;
		border:0px;
		background:none;
	}

	.image-center img {
		width: auto;
		display: block;
		margin: auto;
	}
	
	.alignleft,
	img.alignleft{
		float:left;
		margin: 6px 20px 6px 0;
		display: inline;
		border:0px;
		background:none;
		padding:0;
		display:block;
	}
	
	.alignright,
	img.alignright{
		padding:0;
		float:right;
		margin: 6px 0 6px 20px;
		border:0px;
		display:block;
		background:none;
	}
	
	blockquote {
		font-size:16px;
		line-height: 32px;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-weight:normal;
		font-style:italic;	   
		position:relative;  
		width:auto;
	}

	blockquote small {
		display: block;
		margin-top: 20px;
	}
	
	pre {
		line-height:18px;
		margin-bottom:18px;
	}

	.btn,
	a {
		outline:0;
		text-decoration: none;
	}
	
	ins {
		text-decoration:none;
	}
	
	sup {
		bottom: 1ex;
	}
	
	sub {
		top: .5ex;
	}
	
	.check li:before {
		content: "\f105";
		font-family: "FontAwesome";
		font-size: 14px;
		left: 0;
		color:#363a47;
		padding-right:8px;
		position: relative;
	}

	.check li {
		font-size:14px;
		list-style:none;
		margin-bottom:5px;
	}

	.check {
		margin-left:0; 
		padding-left:0
	}

/* ==================================================================
	HEADER & MENUS
================================================================== */

	.header.affix{
		top:0;
		left:0;
		right:0;
		width:100%;
		padding:0;
		z-index:9999; 
		position: fixed;
	}
	.header.affix .navbar-default {
		padding: 18px 0 0px;
	}
	.topbar {
		padding:10px 0;
		display: block;
		z-index: 1100;
		position: relative;
		text-transform: capitalize;
        color: #fff;
	}
	.contactwrap i {
		font-size: 15px;
		padding-right: 5px;
	}
	.contactwrap a {
		color:#afb0b4;
	}
	.topbar .form-control {
		margin-bottom: 10px;
		text-transform: none;
		font-size: 12px;
		border-radius: 0;
		box-shadow: none;
	}
	.topbar form .btn {
		border-radius: 0;
		font-size: 13px;
	}
	.topbar .dropdown-menu {
	    border: 1px solid #e8e8e8;
	    border-radius: 0;
	    box-shadow: none;
	    font-size: 14px;
	    left: -114px;
	    margin: 10px 0;
	    min-width: 240px;
	    padding: 20px;
	    position: absolute;
	}
	.topbar h4 a {
		color:#383c4b;
		text-decoration: underline;
	}
	.topbar h4 {
	    font-size: 14px;
	    line-height: 1;
	    margin: 0;
	    padding: 0;
	    font-weight: 400;
	    text-align: center;
	}
	.topbar hr {
		margin: 15px 0;
		border-color:#d7d7d7;
	}
	.form-title h4 {
		text-align: left;
	}
	.form-title hr {
		width: 40px;
	}
	.topbar ul {
		padding: 0;
		margin: 0;
	}
	.box img {
		width: 100%;
	}
	.topbar span {
		padding:0 4px;
	}
	.topbar i {
		padding-right: 3px;
	}
	.topbar a {
		color:#fff;
	}
	.social i {
		font-size: 16px;
	}
	.social {
		margin-right: 3px;
	}
	.topbar p {
		color:#ffffff;
		padding:0;
		margin:0;
	}
	.header {
		background-color: #fff;
		position: relative;
		display: block;
	}
	.topbar.topbar-transparent {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		background-color:rgba(0,0,0,0.7) ;
	}
	.transparent-header {
		position: absolute;
		left: 0;
		right: 0;
		top:60px;
		width: 100%;
		background-color: transparent;
	}
	.transparent-header .navbar-default .navbar-nav > li  {
	    border-right:2px solid rgba(255,255,255,0) ;
	} 
	.transparent-header.affix {
		background-color: #ffffff ;
	}
	.transparent-header .navbar-default {
		background-color: transparent ;
	}
	.ttmenu {
		position: relative;
		display: block;
		z-index: 199;
	}
	.ttmenu .navbar-default .navbar-toggle {
	    background: #494949 none repeat scroll 0 0 ;
	    border-color: #111;
	    color: #fff ;
	    margin-top: 8px;
	    padding: 0 15px;
	}
	.navbar-toggle .fa {
		background-color: transparent ;
		color:#494949 ;
	}
	.ttmenu .navbar-default {
		border-radius: 0;
		padding-top: 35px;
		padding-bottom: 15px;
		background:#ffffff;
	}
	.nav,
	.navbar,
	.navbar-nav {
		margin-bottom: 0 ;
	}
	.nav > li > a {
		padding-left: 10px;
		font-weight: 500;
		font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
		letter-spacing: -0.2px ;
		padding-right: 10px;
	}
	.ttmenu .navbar-default .dropdown-menu {
		border:0 ;
	}
	.navbar-default .navbar-nav > li > a {
	    color: #fff;
	    font-size: 15px;
	    outline: 0;
	    letter-spacing: 0;
	    padding: 7px 15px;
	    text-transform: none;
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
	}
	.dropdown-menu > li > a,
	.ttmenu-content .box li a {
	    font-size:13px;
	}
	.dropdown-menu > li > a:hover,
	.ttmenu-content .box li a:hover {
	    opacity: 0.8
	}
	.ttmenu .navbar-default .dropdown-menu, 
	.ttmenu .navbar-default .dropdown-menu li a {
		color:#fff;
	}
	.ttmenu .navbar-default .navbar-nav > li > .dropdown-menu {
		margin-top: 0;
	}
	.navbar-default .dropdown-menu li,
	.ttmenu-content .box li {
	    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
	}
	.ttmenu-content .box li {
	    padding:6px 10px 6px 10px ;
	}
	.navbar-default .navbar-nav > li > a:hover {
		opacity: 0.8;
	}
	.navbar-default .navbar-nav > li > a {
		background-color: transparent ;
	}
	.navbar-default .navbar-nav > li  {
	    border-right:2px solid rgba(255,255,255,0.2) ;
	}
	.navbar-default .navbar-nav > li:last-child  {
	    border-right:0 solid rgb(255,175,75) ;
	}
	.dropme::after {
		color:#494949;
		font-size: 16px;
	}
	.ttmenu .navbar-brand {
	    float: left;
	    margin-right: 0px;
	    padding: 0 30px 0 0;
	    position: relative;
	    text-align: center;
	    top: 3px;
	    width: auto;
	}
	.ttmenu {
		position: relative;
		z-index: 1;
		overflow: visible ;
	}
	.navbar-default .navbar-nav > li > a {
		color:#363a47 ;
		font-weight: 400;
	}
	.navbar-right {
		text-transform: uppercase ;
	}
	.navbar-right i {
	    font-size: 15px;
	    padding-right: 5px ;
	    vertical-align: initial;
	}
	.nav > li > a.btn {
		margin-top: -2px;
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
		padding:6px 20px;
		text-transform: none ;
		font-size: 14px;
		font-weight: 600;
		color:#fff ;
	}
	.ttmenu {
		z-index: 1000;
	}

/* ==================================================================
	SLIDER
================================================================== */

	.boxedcontainer {
		max-width: 1170px; 
		margin:auto; 
		padding:0px 30px;
	}
	.tp-banner-container{
		width:100%;
		position:relative;
		padding:0;
		z-index: 0;
	}
	.tp-banner{
		width:100%;
		position:relative;
	}
	.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
	}
	.tp-bannertimer {
		display: none;
	}
	.lightcolor {
		color:#ffffff ;
	}
	.slider_layer_05 {
		color:#363a47;
		font-size: 31px;
		padding:0;
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-radius: 100%;
		background-color: rgba(255,255,255,0.8);
	}
	.slider_layer_01 {
		font-weight: 400;
		color:#363a47;
		font-size: 34px;
		padding:7px 60px;
		background-color: rgba(255,255,255,0.8);
	}
	.slider_layer_02 {
		color:#363a47;
		font-size: 16px;
		font-family: "Droid Serif",Georgia,"Times New Roman",serif;
		font-style: italic;
		line-height: 1.5;
	}
	.slider_layer_04 {
		color:#363a47;
		font-size: 25px;
		font-family: "Roboto",Georgia,"Times New Roman",serif;
		line-height: 1.5;
		text-transform: uppercase;
	}
	.slider_layer_03 {
		color:rgba(255,255,255,0.8);
		font-size: 66px;
		line-height: 1.5;
	}
	.tp-caption .btn {
		font-size: 14px;
		font-weight: bold;
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
		padding: 9px 30px ;
	}

/* ==================================================================
	SECTIONS
================================================================== */
	
	.teacher-skills p {
		padding:0;
		color:#363a47;
		font-weight: 500;
		margin-top: 10px;
	}
	.teacher-skills .progress {
		height: 6px;
	}
	.teacher-list h4 {
		font-size: 21px ;
	}
	.nopaddingbottom {
		padding-bottom: 0 ;
	}
	.device-image img{margin:auto;width:100%;text-align:center}
	.section {
		padding:90px 0;
		position: relative;
		display: block;
	}
	.white {
		background-color: #ffffff;
	}
	.grey {
		background-color: #edecf0;
	}
	.dark {
		background-color: #3f4451;
	}
	.why-us {
	    background-color: #fff;
	    margin-bottom: 0;
	    margin-top: 20px;
	    padding: 40px 20px 0;
	}
	.why-us h4 {
		font-weight: 600;
		margin-bottom: 0;
		padding-bottom: 10px;
	}
	.why-us i {
		margin-top: 15px;
		display: inline-block;
	}
	.feature-list {
		display: table;
	}
	.why-us i,
	.feature-list i {
		font-size: 34px;
		display: block;
		width: 60px;
		border:1px solid #fff;
		line-height: 58px;
		height: 60px;
		color:#ffffff;
		text-align: center;
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
	}
	.funfactors .feature-list i {
		width: auto;
		max-width: 120px;
		font-style: normal;
		font-weight: 600;
		border-radius: 0;
		margin-bottom: 0;
	}
	.feature-list.border-radius i {
		border-radius: 100px 100px 100px 100px;
		-moz-border-radius: 100px 100px 100px 100px;
		-webkit-border-radius: 100px 100px 100px 100px;
		width: 80px;
		height: 80px;
		line-height: 76px;
	}
	.service-center .feature-list i {
		margin: 0 auto 30px;
	}
	.service-center {
		text-align: center;
	}
	.feature-list p {
		padding-bottom: 0;
		color:#a1a1a1;
	}
	.feature-list p strong {
		font-size: 18px;
		color:#363a47;
		line-height: 1;
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.invis {
		border-color: transparent;
	}
	.invis1 {
		border-color: transparent;
		margin: 30px 0
	}
	.section-title {
		margin-bottom: 40px;
		display: block;
		position: relative;
	}
	.section-title h4 {
		font-size: 28px;
		padding-bottom: 5px;
		margin-bottom: 0;
		font-weight: bold;
	}
	.button-wrapper p,
	.section-title p {
		font-style: italic;
		font-size: 15px;
		font-weight: 300;
		color:#a1a1a1;
		font-family: "Droid Serif",Georgia,"Times New Roman",serif;
	}
	.owl-custom .owl-controls {
	    position: relative;
	    right: 0;
	    top: auto;
	    width: 100%;
	    left: 0;
	}
	.owl-custom .owl-controls .owl-nav [class*="owl-"] {
	    background: #fff;
	    color: #363a47;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 24px;
	    height: 30px;
	    line-height: 30px;
	    border-radius: 0;
	    margin: 5px 0;
	    padding: 0;
	    width: 50%;
	}
	.white .owl-theme .owl-controls .owl-nav [class*="owl-"] {
	    background: #edecf0; 
	}
	.magnifier {
		position:absolute;
		top:0;
		background-color: rgba(255,255,255,0.5);
		left:0;
		bottom:0;
		right:0;
		z-index: 0;
		zoom: 1;
		filter: alpha(opacity=0);
		opacity: 0;
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-ms-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
	}
	.entry:hover .magnifier {
		zoom: 1;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	.shopmeta span {
		display: block;
	}
	.owhidden {
		overflow: hidden;
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	.zoom {
		display:inline-block;
		position: relative;
	}
	.zoom img {
		width: 100%;
		display: block;
	}
	.zoom img::selection { 
		background-color: transparent;
	}
	.add-w {
		width: 35px;
		line-height:35px;
		height: 35px;
		right: 10px;
		left: auto;
		border-radius: 100%;
		top:10px;
		position: absolute;
		text-align: center;
	}
	.add-w .fa-envelope-o,
	.add-w i {
		color:#fff;
		font-size: 11px;
	}
	.visible-buttons span{
		color:#fff ;
	}
	.visible-buttons a {
		border-bottom: 0 ;
		width: 30px;
		height: 30px;
		margin:3px 0 ;
		line-height: 30px;
		display: block;
	}
	.visible-buttons{
		visibility: hidden;
		margin: 0 auto;
		opacity: 0;
		position: absolute;
		text-align: center;
		-webkit-transition: all 0.7s ease 0s;
		-moz-transition: all 0.7s ease 0s;
		-ms-transition: all 0.7s ease 0s;
		-o-transition: all 0.7s ease 0s;
		transition: all 0.7s ease 0s;
		bottom:0;
		right:auto;
		left: 0px;
		position: absolute;
		text-align: center;
	}
	.entry:hover .visible-buttons {
		opacity: 1;
		bottom:120px;
		visibility: visible;
	}
	.rating i {
		color:#eabe12;
	}
	.rating span {
		display: block;
	}
	.entry .badge {
		position: absolute;
		top:0;
		left: 0;
	}
	.entry:hover .badge {
		opacity: 0;
	}
	.close {
		opacity: 1;
		color:#222222;
	}
	.addw {
		font-size:13px;
		padding:20px 0;
	}
	.shop-item-title {
		background-color: #fff;
		z-index: 1;
		padding:0 20px;
		position: relative;
		display: block;
		overflow: hidden;
		border:1px solid #f5f5f5;
	}
	.shop-item-list {
	    display: block;
	    padding:0;
	    line-height: 1.9;
	    z-index: 1;
	    margin-bottom: 0;
	    position: relative;
	    text-align: left;
	}
	.course-list {
		margin-bottom: 30px;
	}
	.shop-item-list img {
		width: 100%;
	}
	.shop-item-list .rating {
		margin:0 0 20px;
	}
	.shop-list-desc .shopmeta {
		margin-bottom: 30px;
	}
	.achievement-wrapper h4,
	.shop-list-desc h4,
	.shop-item-list h4 {
		font-size: 16px;
		font-weight: 600;
		margin: 20px 0 10px;
		line-height: 1.3 ;
		text-transform: capitalize;
		padding:0;
	}
	.shop-item-list h4 a,
	.shop-item-list h4 {
		color:#363a47;
	}
	.badge {
	    border-radius: 0;
	    font-size: 9px;
	    font-weight: 300;
	    margin-left: 0;
	    margin-top: 0 ;
	    vertical-align: text-top;
	}
	.testimonial {
		position: relative;
		display: block;
		padding: 0 20px;
	}
	.testimonial p {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.testimonial:after {
		font-family: 'FontAwesome';
		content: "\f10e";
		padding-right:5px;
		right:0;
		position:absolute;
		top:0px;
		font-size:400%;
		opacity: 0.1; -moz-opacity: 0.1; filter: alpha(opacity=10);
	}
	.testimonial h4 {
		font-size:16px;
		padding-right:5px;
		font-weight: 600;
	}
	.first {clear:both}
	.last{margin-right:0}
	.button-wrapper {
		margin-top: 40px;
	}
	.testimonial small {
		font-size:11px;
		font-style:italic;
		color:#798184;
		padding:0 10px;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif ;
		font-weight:300;
	}
	.testimonial img {
		margin-right:15px;
		width:75px;
		border:0 solid #ffffff ;
		height:75px;
		margin-top:5px;
		border: medium none;
		display: inline-block;
		image-rendering: optimizequality;
		max-width: 100%;
	}
	.testimonial-meta {
		overflow: hidden;
	}
	.button-wrapper .btn {
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
	    font-size: 14px;
	    font-weight: 600;
	    padding: 10px 30px;
	}

	.button-wrapper .btn i {
		font-size: 16px;
		margin-right: 10px;
	}
	.accordion-toggle-2 .panel-heading {
	    background-color: #edecf0 ;
	    border-radius: 0 ;
	    padding: 10px 15px;
	}
	.grey .accordion-toggle-2 .panel-heading {
		background-color:#ffffff ;
	}
	.accordion-toggle-2 .panel, 
	.accordion-toggle-2 .panel-heading {
	    background-color: #fff;
	    border-color: #dadadc;
	    border-bottom: 1px solid #dadadc;
	}
	.accordion-toggle-2 .panel-heading h3 i {
	    background-color: #202830 ;
	    color: #ffffff;
	    height: 20px;
	    line-height: 20px;
	    font-size: 11px;
	    position: absolute;
	    right: -10px;
	    top:1px;
		-webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    margin-right: 10px;
	    text-align: center;
	    width: 21px;
	    vertical-align: text-top;
	}
	.accordion-toggle-2 .panel-heading h3 {
	    display: inline-block;
	    font-size: 13px;
	    text-transform: uppercase;
	    font-weight: bold;
	    margin: 0;
	    width: 100%;
	    padding: 0;
	}
	.accordion-toggle-2 .panel-group .panel + .panel {
		margin:-2px 0;
	}
	.accordion-toggle-2 .panel-title {
	    line-height: 16px;
	}
	.accordion-toggle-2 .panel {
		margin-bottom: 10px ;
	    border-color: #f5f5f5;
	    border-radius: 0 ;
	    box-shadow: none;
	}
	.accordion-toggle-2 p {
		padding-bottom: 0;
	}
	.team {
		z-index: 1;
		cursor: pointer;
		position: relative;
	}
	.team-hover-content span {
		margin:10px 0;
		display: block;
		font-style: italic;
	}
	.team-hover-content h5 {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1 ;
		margin-bottom: 0;
		letter-spacing: 0;
		padding-bottom: 0;
		color:#363a47 ;
	}
	.team-hover-content p {
		font-size:13px;
		margin-bottom: 0;
	}
	.team-hover-content {
	  	position: absolute;
	  	bottom: 0px;
	  	width: 100%;
		padding: 50px 30px 0;
		border:2px solid #dedde1;
		opacity: 0;
		z-index: 1;
		top:0%;
		text-align: center;
		text-decoration: none;
		background-color: #ffffff;
		background-color: rgba(255,255,255,1);
		border-radius: 0;
	}
	.team img {
		z-index: 1;
		width: 100%;
	}
	.team:hover .team-hover-content {
		opacity: 1;
		position: absolute;
		-webkit-transition:all 0.7s ease-in-out;
		-moz-transition:all 0.7s ease-in-out;
		-o-transition:all 0.7s ease-in-out;
		transition:all 0.7s ease-in-out;
	}
	.tab-content {
		border-bottom:1px solid #dedde1;
		border-right:1px solid #dedde1;
		border-left:1px solid #dedde1;
		padding:30px;
	}
	.nav-tabs > li > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    background-color: #edecf0;
	    border-color: #ddd #ddd transparent;
	    border-image: none;
	    border-radius: 0 ;
	    font-size: 14px;
	    padding: 15px 30px;
	    border-style: solid;
	    border-width: 1px;
	    color: #363a47 ;
	    cursor: default;
	}
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
		background-color: #ffffff ;
	}
	.notfound h3 {
		font-size: 120px;
		padding-bottom: 10px;
		margin-bottom: 0;
		line-height: 1 ;
		font-weight: bold;
	}
	.notfound p {
		font-style: italic;
		font-size: 18px;
		line-height: 2
	}

/* ==================================================================
	FOOTER
================================================================== */

	.copyright {
		background-color: #363b48;
		padding:20px 0 10px;
		display: block;
		position: relative;
		text-transform: capitalize;
	}
	.copyright a,
	.copyright p {
		color:#ffffff;
		padding:0 ; 
		margin:0 ;
	}
	.copyright a {
		font-weight: 600 ;
	}
	.widget-title  {
		display: block;
		position: relative;
		margin-bottom: 20px;
	}
	.widget-title h4 {
		font-weight: 600;
		font-size: 21px;
	}
	.footer .widget-title h4 {
		color:#ffffff;
	}
	.content-widget .widget-title {
		margin-bottom: 20px;
	}
	.content-widget .widget-title h4 {
		padding-top: 0;
		margin-top: 0;
		font-size: 18px;
		font-weight: 500;
	}
	.content-widget hr,
	.footer hr {
		border-color: #999eab;
		margin:0;
		border-width: 2px;
		width: 45px;
	}
	.footer p {
		padding-bottom: 10px;
		color:#999eab;
	}
	.latest-tweets p:before {
		content: "\f099";
		font-family: "FontAwesome";
		font-size: 16px;
		left: 0;
		color:#999eab;
		padding-right:5px;
		position: relative;
		top: 2px;
	}
	.latest-tweets {
		padding: 0;
		list-style: none;
	}
	.latest-tweets li {
	    display: inline-table;
	    padding: 0;
	    margin-bottom: 10px;
	    width: 100%;
	}
	.latest-tweets li p a {
		margin: 0 4px;
	}
	.latest-tweets li p {
		padding-bottom: 0;
	}
	.latest-tweets li span{
		display: block;
		color:#ffffff;
		margin:0;
		margin-top: 0;
		font-size: 12px;
	}
	.contact-details li a {
		color:#999eab;
		text-decoration: underline ;
	}
	.contact-details li {
		color:#999eab;
		margin-bottom: 5px;
	}
	.contact-details li i {
		padding-right: 7px;
	}
	.contact-details,
	.popular-courses {
		list-style: none;
		padding:0;
	}
	.popular-courses li {
		display: inline-block;
	}
	.popular-courses li img {
	    background: #616673 none repeat scroll 0 0;
	    border: 1px solid #424754;
	    margin: 0 2px 2px 0;
	    width: 83px;
	}
	.feedbacks .btn {
		padding:10px;
	}

/* ==================================================================
	PAGE & BLOG
================================================================== */
	
	.comment-reply {
		margin-left: 75px;
	}
	.comment-wrapper .well {
		background-color: #ffffff ;
	}
	.comment-wrapper h3 {
		padding:0;
		margin:0;
	}
	.time-comment a {
	    margin-top: -15px ;
	    padding: 3px 10px ;
	}
	.time-comment {
		display: block;
		position: relative;
		margin-bottom: 10px;
	}
	.tags a {
		padding:4px 8px;
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
	}
	.single-blog-wrapper .blog-desc {
		padding: 40px
	}
	.pagination > li > a, 
	.pagination > li > span {
		width: 40px;
		padding:0;
		height: 40px;
		margin:0 3px;
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 40px;
	}
	.btn {
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
		text-transform: none;
		font-weight: 600;
	}
	.callout {
		border:1px solid #dedde1;
		background-color: #edecf0;
		padding:30px;
	}
	.callout i {
		margin-top: 0;
		color:#d1d0d4;
	}
	.callout .btn {
		padding: 15px;
		text-transform: uppercase;
	}
	.callout h4 {
		border-right: 1px solid #d1d0d4;
		padding: 0;
		margin: 0;
		font-weight: 400;
	}
	.page-title {
		position: relative;
		display: block;
		padding:35px 0;
		border-top:1px solid #dedde1;
		border-bottom:1px solid #dedde1;
	}
	.page-title h1 {
		font-size: 18px;
		font-weight: 500;
		padding:0;
		margin:0;
	}
	.breadcrumb {
	    background-color: transparent;
	    border-radius: 0;
	    font-size: 12px;
	    list-style: outside none none;
	    margin-bottom: 0;
	    padding: 0;
	}
	.well {
		background-color: #edecf0;
		border-radius: 0;
		padding:30px;
		border:1px solid #dedde1;
	}
	.media img {
		width: 65px;
		margin-right: 10px;
	}
	.media .rating {
		margin-bottom: 5px;
	}
	.media-heading {
		font-size: 16px;
		padding-bottom: 0;
		font-weight: 600;
	}

/* ==================================================================
	COURSE STYLES
================================================================== */

	.quiz-wrapper .lead {
		padding-bottom: 0;
		color:#363a47;
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.progress,
	.panel-footer {
		box-shadow: none;
	    background-color: #edecf0;
	}
	.panel-primary {
	    border-color: #edecf0;
	}
	.course-list .shop-item-list,
	#course-left-sidebar {
		margin-bottom: 30px;
	}
	.course-instructors img {
		width: 20px;
		margin: 0 8px;
	}
	.course-prize i {
		font-size: 16px;
		padding:3px 2px 0;
	}
	.course-description  small {
		font-weight: 600;
		margin-right: 20px;
		font-size: 13px;
	}
	.course-description small span {
		font-weight: 400;
	}
	.course-description .course-title {
		font-size: 24px;
	}
	.bbp-forum-info img {
		max-width: 65px;
		margin:0 20px 0 0;
	}
	.bbp-topic-freshness-author img {
		max-width: 24px;
	}
	.achievement-wrapper {
		margin-bottom: 40px;
		display: block;
	}
	.achievement-wrapper img {
		max-width: 120px;
		border:2px solid #dedde1;
		padding:3px;
	}
	.course-meta i {
		padding-right: 3px;
	}
	.course-meta .label-primary {
		width: 25px;
		font-size: 12px;
		font-weight: 400;
		height: 20px;
		line-height: 16px;
		text-align: center;
	}
	.label-primary:hover a,
	.label-primary a:hover {
		color:#ffffff ;
	}
	.course-meta p {
		width: 100%;
		display: block;
		position: relative;
	}
	.course-meta small {
		position: absolute;
		right: 0;
		top:0;
	}
	.course-image-widget img {
		width: 100%;
	}
	.course-meta p,
	.course-meta a {
		line-height: 1;
		color:#ffffff;
	}
	.course-meta {
		padding: 15px 20px 10px;
		background-color: #3f4451;
		margin-top: 0;
	}
	.course-meta.forshop {
		background-color: #fff;
	}
	.course-meta.forshop hr {
	    border-color: #fff;
	    background-color: #fff;
	}
	.course-meta.forshop p {
		color:#777777;
		font-size: 14px;
	}
	.course-meta.forshop a {
		color:#363a47 ;
	}
	.course-meta .rating {
		margin-top: 0;
		padding-top: 0;
	}
	.course-meta .rating i {
		padding: 0;
	}
	.course-meta p {
		display: inline-block;
		padding-right: 4px;
		padding-bottom:0;
		font-size: 13px;
	}
	.course-meta hr {
	    background: #626774;
	    border-color: #121724;
	    height: 1px;
	    margin-bottom: 6px;
	    margin-top: 6px;
	}
	.course-button .btn {
		border-radius: 0;
		padding:10px 20px;
	}
	.course-table .fa-check {
		background-color:#92CD00;
		color:#ffffff;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}
	.course-table .fa-close {
		background-color:#FF0000;
		color:#ffffff;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}
	.other-courses img {
		margin: 0;
		width: auto;
		max-width: 400px;
		float:right;
	}
	.filters-dropdown{
		margin-bottom: 30px;
		display: block;
		position: relative;
	}
	#filters ul {
		padding:0 0 0 10px;
	}
	#filters li {
		list-style: none;
		display: inline-block;
		font-weight: 500;
		margin:0 10px 0 0;
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 15px;
	}
	.portfolio .shop-item-list {
		margin-bottom: 0 
	}
	.portfolio .item {
		width:25%;
		padding:10px;
		margin:0 ;
	}
	.isotope-item {
	  z-index: 2;
	}
	.isotope-hidden.isotope-item {
	  pointer-events: none;
	  z-index: 1;
	}
	.isotope,
	.isotope .isotope-item {
	  /* change duration value to whatever you like */
	  -webkit-transition-duration: 0.8s;
	     -moz-transition-duration: 0.8s;
	          transition-duration: 0.8s;
	}
	.isotope {
	  -webkit-transition-property: height, width;
	     -moz-transition-property: height, width;
	          transition-property: height, width;
	}
	.isotope .isotope-item {
	  -webkit-transition-property: -webkit-transform, opacity;
	     -moz-transition-property:    -moz-transform, opacity;
	          transition-property:         transform, opacity;
	}
	.course-table i,
	.course-table a {
		color:#363a47;
	}
	.table > caption + thead > tr:first-child > th, 
	.table > colgroup + thead > tr:first-child > th, 
	.table > thead:first-child > tr:first-child > th, 
	.table > caption + thead > tr:first-child > td, 
	.table > colgroup + thead > tr:first-child > td, 
	.table > thead:first-child > tr:first-child > td {
		color:#363a47;
	}

/* ==================================================================
	LOGIN PAGE
================================================================== */

	.login-wrapper {
		padding-top: 100px;
	}
	.logo-center img {
		margin: 20px auto;
		display: block;
		max-width: 240px;
		text-align: center;
	}
	.panel-login {
		border-radius: 0;
		margin-top: 8%;
		padding:20px;
		display: block;
		position: relative;
	}
	.panel-login>.panel-heading {
		color: #00415d;
		background-color: transparent;
		border-color: #fff;
		text-align:center;
	}
	.panel-login>.panel-heading a{
		text-decoration: none;
		color: #666;
		font-weight: bold;
		font-size: 15px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}
	.panel-login>.panel-heading a.active{
		color: #029f5b;
	}
	.panel-login>.panel-heading hr{
		margin-top: 10px;
		margin-bottom: 0px;
		clear: both;
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	}
	.edit-profile .form-control,
	.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
		height: 45px;
		border: 1px solid #ddd;
		background-color: #fff;
		font-size: 16px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}
	.edit-profile .form-control,
	.panel-login .form-control {
		border-radius: 0;
		font-size: 14px ;
		box-shadow: none;
	}
	.panel-login input:hover,
	.panel-login input:focus {
		outline:none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: #ccc;
	}
	.panel-login .btn-default {
		outline: none;
		color: #fff;
		font-size: 14px ;
		width: 100%;
		display: block;
		height: auto;
		font-weight: 600;
		padding: 14px 0;
		text-transform: none;
	}
	.forgot-password {
		text-decoration: underline ;
		color: #888;
	}
	.forgot-password:hover,
	.forgot-password:focus {
		text-decoration: underline;
		color: #666;
	}
	.edit-profile label {
		font-weight:600;
		margin-bottom: 10px;
		display: block;
	}
	.edit-profile p {
		padding-bottom: 0;
	}

	.edit-profile textarea {
		height: 150px ;
	}
	.question-answer p {
		padding-left: 40px;
	}
	.question-answer h4 {
		padding-left: 40px;
		font-weight: 600;
	}
	.question-answer i {
		margin-top: 4px;
		font-size: 24px;
		display: inline-block;
	    position: relative;
	}

/* ==================================================================
	BX SLIDER
================================================================== */

	.myimg {
	    padding: 0;
	    top: 0;
	    left: 0;
		bottom:0;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	    overflow: hidden;
		position: absolute;
	}
	.myimg2 {
	    padding: 0;
	    top: 0;
	    left: 0;
		bottom:0;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	    overflow: hidden;
		position: absolute;
	}
	.bxslider h3 {
		font-size:30px;
		padding-bottom: 0;
		margin-bottom:15px;
		line-height: 1;
		font-weight: 400;
		text-transform: uppercase;
	}
	.bxslider h3 {
		font-size:34px;
	}
	.bxslider .lead {
		font-size:16px;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.bxslider .big-title {
		margin-left: 0;
	}
	.bxslider li {
		padding:0 0 40px;
	}
	.bxslider p,
	.bxslider .lead {
		color:#a1a1a1;
	}

	.bxslider h3 span,
	.big-title h3 span {
		font-weight: 900;
	}
	.textrotate {
		padding:0 40px 40px;
	}
	.bx-wrapper .bx-controls-direction a {
		display: none;
	}

/* ==================================================================
	PRICING TABLE
================================================================== */

	.my_planHeader {
	    text-align: center;
	    color: white;
	    padding-top:2em;
	    padding-bottom:2em;
	}
	.my_planTitle {
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-weight: bold;
	    font-size: 24px;
	}
	.my_planPrice {
	    font-size: 15px;
	    line-height: 1;
	    margin: 0 0 20px ;
	    padding: 0 ;
	}
	@media (max-width: 768px) {
	    .my_planTitle {
	        font-size:small;
	    }    
	}
	@media (max-width: 768px) {
	    .my_feature {
	        text-align: center
	    }
	 }
	.my_featureRow {
	    margin-top: 0.2em;
	    margin-bottom: 0.2em;
	    border: 0.1em solid rgb(200, 200, 200);
	}    
	/* --- Plan 1 --------------------------- */
	.my_planHeader.my_plan2,
	.my_planHeader.my_plan1 {
	    background: #5ba5af ;
	    border-bottom: thick solid #3a848e !important;
	}
	/* --- Plan 2 --------------------------- */
	.my_planHeader.my_plan2 {
	    background: #5ba5af;
	    border-bottom: thick solid rgb(108, 131, 62);
	}
	/* --- Plan 3 --------------------------- */
	.my_plan3 {
	    background: rgba(227,75,17, 0.05);
	}
	.my_planHeader.my_plan3 {
	    background: #e34b11;
	    border-bottom: thick solid #c32b00;
	}
	.my_planFeature {
		padding:10px 0;
	    text-align: center;
	}
	.my_planFeature i.my_check {
	    color: #92cd00;
	}
	.my_planFeature i.no_check {
	    color: #ff0000;
	}
	.my_feature p {
		padding:10px 0;
		margin:0;
	}

/* ==================================================================
	CAROUSEL
================================================================== */

	.carousel {
	    position: relative;
	}
	.carousel-inner {
	    overflow: hidden;
	    position: relative;
	    width: 100%;
	}
	.carousel-inner > .item {
	    display: none;
	    position: relative;
	    transition: left 0.6s ease-in-out 0s;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	    line-height: 1;
	}
	@media not all, not all {
	.carousel-inner > .item {
	    backface-visibility: hidden;
	    transition: transform 0.6s ease-in-out 0s;
	}
	.carousel-inner > .item.next, .carousel-inner > .item.active.right {
	    left: 0;
	    transform: translate3d(100%, 0px, 0px);
	}
	.carousel-inner > .item.prev, .carousel-inner > .item.active.left {
	    left: 0;
	    transform: translate3d(-100%, 0px, 0px);
	}
	.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
	    left: 0;
	    transform: translate3d(0px, 0px, 0px);
	}
	}
	.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
	    display: block;
	}
	.carousel-inner > .active {
	    left: 0;
	}
	.carousel-inner > .next, .carousel-inner > .prev {
	    position: absolute;
	    top: 0;
	    width: 100%;
	}
	.carousel-inner > .next {
	    left: 100%;
	}
	.carousel-inner > .prev {
	    left: -100%;
	}
	.carousel-inner > .next.left, .carousel-inner > .prev.right {
	    left: 0;
	}
	.carousel-inner > .active.left {
	    left: -100%;
	}
	.carousel-inner > .active.right {
	    left: 100%;
	}
	.carousel-control {
	    bottom: 0;
	    color: #ffffff;
	    font-size: 24px;
	    left: 0;
	    position: absolute;
	    text-align: center;
	    top: 0;
	}
	.carousel-control.right {
	    left: auto;
	    right: 0;
	}
	.carousel-control:hover, .carousel-control:focus {
	    color: #ffffff;
	    opacity: 0.9;
	    outline: 0 none;
	    text-decoration: none;
	}
	.carousel-control .fa {
	    background-color: rgba(0, 0, 0, 0.9);
	    font-size: 24px;
	    padding: 0.7em;
	    position: absolute;
	    top: 50%;
	    transition: all 0.35s ease-in-out 0s;
	    z-index: 5;
	}
	.carousel-control .fa:hover {
	    background-color: rgba(0, 0, 0, 0.2);
	}
	.carousel-control .fa-angle-left {
	    left: 0;
	}
	.carousel-control .fa-angle-right {
	    right: 0;
	}
	.carousel-control .fa-angle-left, .carousel-control .fa-angle-right {
	    transform: translate(0px, -50%);
	}
	.carousel-indicators {
	    background-color: rgba(0, 0, 0, 0.4);
	    border-radius: 20em;
	    line-height: 1;
	    list-style: outside none none;
	    padding: 0.3em 0.6em;
	    position: absolute;
	    right: 20px;
	    text-align: center;
	    top: 20px;
	    z-index: 15;
	}
	.carousel-control.right,
	.carousel-control.left {
		background-image: none;
	}
	.carousel-indicators li {
	    background-color: rgba(0, 0, 0, 0);
	    border: 1px solid #ffffff;
	    border-radius: 50%;
	    cursor: pointer;
	    display: inline-block;
	    height: 9px;
	    text-indent: -999px;
	    width: 9px;
	}
	.carousel-indicators li + li {
	    margin-left: 3px;
	}
	.carousel-indicators .active {
	    background-color: #ffffff;
	}
	.carousel-caption {
	    background-color: rgba(0, 0, 0, 0.9);
	    bottom: 20px;
	    color: #ffffff;
	    display: none;
	    left: 20px;
	    max-width: 100%;
	    padding: 2em;
	    position: absolute;
	    right: 20px;
	    text-align: left;
	    z-index: 10;
	}
	@media screen and (min-width: 768px) {
	.carousel-caption {
	    display: block;
	}
	}

/* ==================================================================
	CONTACT PAGE
================================================================== */

	#message {
		display: block; position:relative; text-align:left; padding:0 20px;
	}
	#map{
		height:450px;
		width:100%
	}
	#map img{
		max-width:inherit
	}
	.map{
		position:relative
	}
	.map .row .col-lg-4{
		float:right;
		margin-top:-450px;
		z-index:9
	}
	.contact-icon {
		margin:20px 0;
		overflow:hidden;
	}
	.map .row{
		position:relative
	}
	.infobox img {
		width:100% ;
	}
	.map .searchmodule {
		padding:18px 10px
	}
	.infobox {
		display: inline-block;
		padding: 5px;
		position: relative;
		width: 270px;
	}
	.infobox img {
		width:80px ;
		padding-right:10px
	}
	.infobox .title {
		font-size:13px;
		font-weight:bold;
		margin-top:0;
		margin-bottom:0;
		text-transform:uppercase;
		padding-bottom:5px;
	}
	.infobox .title a {
		font-weight:bold;
	}
	.darkskin strong,
	.darkskin h4 {
		color:#ffffff ;
	}
	.overlay {
		background-color: rgba(0, 0, 0, 0.7);
		bottom: 0;
		height: 100%;
		left: 0;
		padding: 60px 0;
		position: absolute;
		right: 0;
	}
	.overlay.green-overlay {
		background-color: rgba(255,255,255,0.9);
	}
	.parallax {
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	    background-repeat:no-repeat;
	    /* custom background-position */
	    background-position:50% 50%;
	    /* ie8- graceful degradation */
	    background-position:50% 50%\9 ;
		display: block;
		width: 100%;
		height: 100%;
		min-height: 100%;
		position: relative;
		overflow-x: hidden;
		overflow-y: hidden;
		vertical-align: sub;
		z-index: 99;
	}

/* ==================================================================
	BLOG
================================================================== */
	
	.blog-widget .blog-title h2 a, 
	.blog-widget .blog-title h2 {
		font-size: 18px;
		line-height: 24px;
	}
	.blog-widget .blog-wrapper {
		border-bottom: 1px solid #dedde1;
	}
	.blog-widget .blog-desc {
		padding: 20px;
	}
	.blog-widget .blog-desc  p {
		padding-bottom: 10px;
	}
	.blog-widget .blog-desc, .blog-title {
		padding:25px 20px;
	}
	.second-bread {
		padding: 0 40px;
	}
	.second-bread .breadcrumb {
		margin-top: 25px;
	}
	.second-bread h1 {
		font-weight: 500;
		font-size: 21px;
	}

	.couponform .form-control,
	.contact_form .form-control,
	.commentform .form-control,
	.searchform .form-control,
	.newsletter .form-control,
	.wpcf7 .wpcf7-form-control {
		box-shadow: none;
		font-size: 13px;
		font-style: italic;
		border-radius: 0;
		height: 45px;
		margin-bottom: 10px;
	}
	.contact_form textarea,
	.wpcf7 textarea{
		height: 155px 
	}
	.commentform textarea {
		height: 130px 
	}
	.searchform .form-control {
		margin-bottom: 0;
	}
	.newsletter p {
		padding-bottom: 0;
	}
	#sidebar .widget {
		margin-bottom: 40px;
		background-color: #fff;
		padding:30px;
		border-left: 1px solid #dedde1;
		border-right: 1px solid #dedde1;
		border-bottom: 5px solid #dedde1;
		border-top: 1px solid #dedde1;
	}
	#sidebar .widget-title h4 {
		font-size: 18px;
	}
	#sidebar .widget-title hr {
		width: 45px;
		border-width: 3px;
		border-color: #111;
		margin:0;
	}
	#sidebar .latest-tweets li span {
		color:#363a47;
	}
	#sidebar .popular-courses li img {
	    background: #fff;
	    border: 1px solid #969ba8;
	    width: 94px;
	}
	 #sidebar .widget-title {
	 	margin-bottom: 30px;
	 }
	 .blog-desc div.post-date {
	    float: left;
	    margin-right: 20px;
	    margin-top: 8px;
	    text-align: center;
	}
	.blog-desc div.post-date span.month {
	    color: #ffffff;
	    font-size: 0.9em;
	    padding: 0 10px 2px;
	}
	.blog-desc div.post-date span.day {
	    display: block;
	    font-size: 16px;
	    font-weight: bold;
	    padding: 10px;
	}
	.blog-wrapper {
		border-left: 1px solid #dedde1;
		border-right: 1px solid #dedde1;
		border-top: 1px solid #dedde1;
		background-color: #ffffff;
		position: relative;
	}
	.category_title {
		margin-bottom: 10px;
		display: block;
		text-transform: uppercase;
	}
	.blog-desc p {
		padding-bottom: 0;
	}
	.blog-desc,
	.blog-title {
		padding:30px 40px;
	}
	.readmore {
	    color:#363a47;
	    margin-left: 61px;
	    font-size: 15px;
	    text-transform: uppercase;
	    font-weight: bold;
	}
	.blog-title h2 a,
	.blog-title h2 {
	    font-size: 30px;
	    padding-bottom: 0;
	    margin-bottom: 0;
	    margin-top: 0;
	    color:#363a47;
	    font-weight: 700;
	    line-height: 36px;
	}
	.post-meta i {
		padding-right: 2px;
	}
	.post-meta span {
		margin-right: 10px;
		font-size: 13px;
	}
	.post-meta {
		margin-top: 10px;
	}
	.post-meta a,
	.post-meta span {
		color:#bbbabe;
	}

/* ==================================================================
	SHOP
================================================================== */

	.shop-listing p {
		padding-bottom: 0;
		font-size: 13px;
	}
	.shop-button .btn {
		border-radius: 0 ;
		z-index: 1000;
		position: relative;
	}

	.my_featureRow {
		background-color:#ffffff;
	}
	.total-price p {
		padding:0;
		margin:0;
		line-height: 1;
	}
	.shop-cart .table img {
		max-width: 60px;
		margin:0 10px;
	}
	.shop-cart .table > thead > tr > th, 
	.shop-cart .table > tbody > tr > th, 
	.shop-cart .table > tfoot > tr > th, 
	.shop-cart .table > thead > tr > td, 
	.shop-cart .table > tbody > tr > td, 
	.shop-cart .table > tfoot > tr > td {
	    border-top: 1px solid #edecf0;
	    line-height: 1.42857;
	    padding: 15px;
	}
	.shop-cart tbody tr a {
		text-decoration: underline ;
	}

/* ==================================================================
	SIDEBAR STYLE
================================================================== */

	#sidebar-fix {
	  	width: inherit;
	  	min-width: 280px;
	  	max-width: 280px;
	  	background-color:#fff;
	  	float: left;
	  	height:100%;
	  	bottom:0;
	  	left: 0;
	  	overflow-y:auto;
	  	z-index: 9991;
	  	overflow-x:hidden;
	  	position: fixed;
	  	top: 0;
	  	padding-top: 4em;
	  	height: 100%;
	  	-webkit-overflow-scrolling:touch;
	  	overflow:auto;
	  	text-align: left;
	}
	.side-copyright {
		position: absolute;
		bottom:0;
		padding-left: 40px;
	  	text-align: left;
	}
	.sidebar-nav li.active {
		border-right: 4px solid #ddd;
	}
	.sidebar-nav {
	  	margin: 15px 0 30px;
	  	padding: 0;
	  	list-style: none;
	}
	.sidebar-nav li {
	    margin:0;
	    padding:0 20px;
	    line-height: 40px;
	}
	.side-logo {
		padding:1em 0 3em;
	}
	.side-logo img {
		display: block;
		margin:0 auto;
	}
	.sidebar-nav li a {
		color:#363a47;
		text-transform: uppercase;
		font-family: "Roboto",sans-serif;
    	font-size: 15px;
    	letter-spacing: 0;
    	outline: 0 none;
    	text-transform: none;
	}
	.sidebar-nav li:first-child {
		border-top: 1px solid #ecebef;
	}
	.sidebar-nav li {
		padding:4px 40px;
		border-bottom: 1px solid #ecebef;
	}
	.sidebar-nav li a:active,
	.sidebar-nav li a:focus {
	  	text-decoration: none;
	}
	.mobile-menu {
	  	z-index: 9999;
	  	display: block;
	  	position: fixed;
	  	top:0;
	  	left: 0;
	  	display: none;
	  	line-height: 0;
	  	background-color: #ffffff;
	}
	.mobile-menu .btn {
	  	border-radius: 0 ;
	  	font-size: 12px ;
	}
	@media (max-width: 992px) {
	    #sidebar-fix {
	        position: relative;
	        box-shadow: none;
	    }
	   .mobile-menu{
	      display: block;
	   }
	}
	@media screen and (max-width: 1180px) {
	  .row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
		width:calc(100% + 280px);
	  }  
	  .row-offcanvas-left {
	    left: -280px;
	  }

	  .row-offcanvas-left.active {
	    left: 0;
	  }

	  .sidebar-offcanvas {
	    position: absolute;
	    top: 0;
	  }
	}

/* ==================================================================
	COLORS
================================================================== */

	mark,
	.comment-wrapper h3,
	.blog-desc div.post-date span.month,
	.pagination > li > a, 
	.pagination > li > span,
	.btn-primary {
		background-color:#5ba5af;
		color:#ffffff ;
		border-color:#5ba5af;
	}

	.btn-primary.disabled, .btn-primary[disabled], 
	fieldset[disabled] .btn-primary, 
	.btn-primary.disabled:hover, 
	.btn-primary[disabled]:hover, 
	fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus, 
	.btn-primary[disabled]:focus, 
	fieldset[disabled] .btn-primary:focus, 
	.btn-primary.disabled.focus, 
	.btn-primary.focus[disabled], 
	fieldset[disabled] .btn-primary.focus, 
	.btn-primary.disabled:active, 
	.btn-primary[disabled]:active, 
	fieldset[disabled] .btn-primary:active, 
	.btn-primary.disabled.active, 
	.btn-primary.active[disabled], 
	fieldset[disabled] .btn-primary.active,
	.login,
	.pagination > li > a:hover, 
	.pagination > li > span:hover,
	.btn-primary:focus,
	.btn-primary:hover {
		background-color:#428992;
		border-color:#5db9c5;
		color:#ffffff !important;
	}
	.topbar {
		background-color:#5ba5af ;
	}
	.why-us i,
	.tags a,
	.btn-default {
		border-color: #e34b11 ;
		background-color: #e34b11 ;	
		color:#ffffff !important;
	}
	.blog-desc div.post-date span.day,
	.visible-buttons a:hover,
	.owl-custom .owl-controls .owl-nav [class*="owl-"]:hover,
	.nav > li > a.btn {
		border-color: #e34b11 ;
		background-color: #e34b11 ;
		color:#ffffff ;
	}
	.progress-bar,
	.orange,
	.ttmenu .navbar-default .dropdown-menu {
		background-color: #e34b11 ;
	}

	.btn-default.disabled, .btn-default[disabled], 
	fieldset[disabled] .btn-default, 
	.btn-default.disabled:hover, 
	.btn-default[disabled]:hover, 
	fieldset[disabled] .btn-default:hover,
	.btn-default.disabled:focus, 
	.btn-default[disabled]:focus, 
	fieldset[disabled] .btn-default:focus, 
	.btn-default.disabled.focus, 
	.btn-default.focus[disabled], 
	fieldset[disabled] .btn-default.focus, 
	.btn-default.disabled:active, 
	.btn-default[disabled]:active, 
	fieldset[disabled] .btn-default:active, 
	.btn-default.disabled.active, 
	.btn-default.active[disabled], 
	fieldset[disabled] .btn-default.active,
	.nav > li > a.btn:hover,
	.btn-default:focus,
	.btn-default:hover {
		background-color: #c42c00 ;
		border-color: #fd652b;
		color: #fff;

	}
	.course-meta .label-primary,
	.feature-list i {
	    background-color: #e34b11; 
	    border-color: #fd652b;
	}
	.visible-buttons a,
	.ttmenu .img-thumbnail {
	    background-color: #fd652b;
	    border-color: #c42c00;
	}
	.ttmenu hr {
	    background-color: #fd652b;
	    border-color: #c42c00;
	    height: 2px;
	}
	.sidebar-nav li.active {
	    border-right-color: #fd652b;
	}
	.form-control:focus {
	    border-color: #c42c00;
	}
	.shop-cart tbody .remove a,
	.category_title,
	.callout a,
	.question-answer i,
	.panel-login>.panel-heading a.active,
	.course-description small a,
	a:focus,
	a:hover,
	.sidebar-nav li:hover a,
	.sidebar-nav li:focus a,
	.sidebar-nav li.active a,
	.course-description small span,
	.slider_layer_01 i,
	.slider_layer_05,
	.latest-tweets p a,
	.shop-item-list h4 a:hover,
	.shop-item-list h4:hover {
		color:#e34b11;
	}
	.nav > li > a.active,
	.nav > li > a:hover {
		background-color: #e34b11 ;
		opacity: 1 ;
		color:#ffffff ;
	}

/* ==================================================================
	MENU BG
================================================================== */

	.ttmenu .navbar-default .dropdown-menu.menu-bg {
	    background-position: right bottom;
	    background-repeat: no-repeat;
	    background-size: auto auto;
	}
	.ttmenu .navbar-default .dropdown-menu.wbg {
	    background-color: #ffffff ;
	}
	.ttmenu .navbar-default .dropdown-menu.wbg li a {
		color:#363a47;
	}

	.ttmenu .navbar-default .dropdown-menu.wbg li {
		border-bottom:	1px solid rgba(0, 0, 0, 0.03)
	}

	.ttmenu .navbar-default .dropdown-menu.wbg li:last-child {
		border-bottom:	0 solid rgba(0, 0, 0, 0.05)
	}

/* ==================================================================
	RESPONSIVENESS
================================================================== */
@media (max-width: 1200px){

	.slider_layer_05{
		background-color: transparent !important;
	}
}

@media (max-width: 768px) {
	.affix {
		position: relative ;
	}
	.slider_layer_05 {
		background-color: transparent;
	}
	.bxslider li,
	.textrotate {
		padding:0 ;
	}
	.callout h4 {
		border-right: 0;
		font-size: 14px;
	}
	.callout .btn {
		margin-top: 10px;
	}
	.topbar .text-left,
	.topbar .text-right {
		text-align: center ;
		font-size: 12px;
	}
	.ttmenu .navbar-default .navbar-toggle {
		margin-top: 0;
	}
}

/* ----------------------------------------------------
	OTHERS	
------------------------------------------------------- */  

	#loader {
		overflow-x: hidden;
		overflow-y: hidden;
		vertical-align: middle;
		background-color: #ffffff;
		position:fixed;
		display: table;
		width: 100%;
		top:0;
		height: 100%;
		min-height: 100%;
		z-index:99999;
	}
	.loader-container {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		z-index: 12;
		text-align:center;
	}
	.loader {
	    margin-top: 20px;
	    vertical-align: top;
	}
