body.bbPress #page .bbp-admin-links a{padding:4px}
body.bbPress #page .bbp-admin-links a:hover{color:#579dd2}
body.bbPress #page .bbp-admin-links a a{padding:0}
body.bbPress #page h2.page-title{padding-left:0px!important}
body.bbPress #page .forum-widgets .forum-widgets-more{position:relative;top:-16px;left:15px;width:400px}
body.bbPress #page .forum-widgets .forum-widget{float:left;display:block;width:400px;padding:30px 15px}
body.bbPress #page .forum-widgets .forum-widget h3{font-size:16px;text-transform:uppercase;letter-spacing:0.5px;font-weight:bold;border-bottom:1px solid #EEE;padding-bottom:2px;margin-bottom:10px}
body.bbPress #page .forum-widgets .forum-widget ul{margin:2px 0;list-style-type:none}
body.bbPress #page .forum-widgets .forum-widget ul li{margin:5px 0;padding-bottom:8px;border-bottom:1px solid #eee}
body.bbPress #page .forum-widgets .forum-widget ul li a{font-style:normal!important;font-size:14px;color:#173347;margin-top:0px!important;padding:0 0 10px 0!important;text-decoration:none}
body.bbPress #page .forum-widgets .forum-widget ul li a:hover{text-decoration:underline}
body.bbPress #page .forum-widgets .forum-widget ul li a.bbp-forum-title{display:block;padding:7px 0!important;font-weight:bold}
body.bbPress #page .forum-widgets .forum-widget ul li a.bbp-reply-topic-title{display:block;padding:7px 0!important;font-weight:bold}
body.bbPress #page .forum-widgets .forum-widget ul li a.bbp-author-avatar{padding:4px 0}
body.bbPress #page .forum-widgets .forum-widget ul li a.bbp-author-name{padding:4px 0}
#bbpress-forums .bbp-breadcrumb{display:block;background-color:#fff!important;color:#475255!important;padding:0px 15px!important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;width:100%;margin:15px 0;border:1px solid #E3E7EA}
#bbpress-forums .bbp-breadcrumb p{margin-bottom:0px!important;font-size:12px;font-weight:bold;line-height:22px}
.bbp-breadcrumb-current,
#bbpress-forums .bbp-breadcrumb a{color:#475255;font-size:12px !important;font-weight:bold}
#bbpress-forums .bbp-topic-tags p{font-style:normal!important;font-size:14px;color:#173347;margin-top:0px!important;padding:0 0 10px 0!important}
#bbpress-forums .bbp-topic-tags a{text-decoration:none}
#bbpress-forums li.bbp-header{background-color:#edecf0!important;color:#212121!important;padding:12px!important;}
#bbpress-forums li.bbp-header .bbp-reply-content span{color:#579DD2}
#bbpress-forums li.bbp-header .bbp-reply-content span a{font-weight:normal;text-decoration:none;font-size:12px!important}
#bbpress-forums ul li ul.forum-titles li{text-transform:uppercase}
#bbpress-forums ul li ul.forum-titles li.bbp-forum-freshness{position:relative;}
#bbpress-forums li.bbp-body ul.forum{padding:20px!important}
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-info{margin-top:5px}
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-info a{font-size:16px;color:#363a47;text-decoration:none;font-weight:600}
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-info .bbp-forum-content p{font-style:normal!important;font-size:14px !important;color:#173347;margin-top:0px!important;padding:0 0 10px 0!important}
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-freshness a:first-child{margin-left:22px;color:#173347!important}
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-freshness p span.bbp-topic-freshness-author a{color:#173347!important}
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-freshness p span.bbp-topic-freshness-author a img{margin-left:6px!important}
#bbpress-forums li.bbp-body ul.topic{padding:8px 8px 8px 12px!important}
#bbpress-forums li.bbp-body ul.topic li.bbp-topic-title a.bbp-topic-permalink{font-size:18px;color:#363a47;text-decoration:none;font-weight:bold}
#bbpress-forums li.bbp-body ul.topic li.bbp-topic-title p.bbp-topic-meta{padding:5px 0 0 0!important;margin:0px 0 0px!important}
#bbpress-forums li.bbp-body ul.topic li.bbp-topic-title p.bbp-topic-meta a{color:#173347!important}
#bbpress-forums li.bbp-body ul.topic li.bbp-topic-voice-count{background-color:#F3F3F3;font-size:24px;height:41px;margin-top:4px;padding-top:9px;width:7%;margin-left:11px}
#bbpress-forums li.bbp-body ul.topic li.bbp-topic-reply-count{background-color:#F3F3F3;font-size:24px;height:41px;margin-top:4px;padding-top:9px;width:7%;margin-left:30px}
#bbpress-forums li.bbp-body ul.topic li.bbp-topic-freshness a:first-child{margin-left:22px;color:#173347!important}
#bbpress-forums li.bbp-body ul.topic li.bbp-topic-freshness p span.bbp-topic-freshness-author a{color:#173347!important}
#bbpress-forums li.bbp-body ul.topic li.bbp-topic-freshness p span.bbp-topic-freshness-author a img{margin-left:6px!important}
#bbpress-forums li.bbp-body .topic .bbp-reply-author img.avatar{display:block;width:50px;height:50px;padding:5px;background-color:#EBEDEE;border:1px solid #D9DADB;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
#bbpress-forums li.bbp-body .bbp-reply-content p{font-style:normal!important;font-size:14px;color:#173347;margin-top:0px!important;padding:0 0 10px 0!important}
#bbpress-forums .bbp-reply-author{border-right:1px solid #eee;width:110px!important}
#bbpress-forums .bbp-reply-author img.avatar{display:block;width:50px;height:50px;padding:5px!important;background-color:#EBEDEE;border:1px solid #D9DADB!important;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}#bbpress-forums .bbp-template-notice p.bbp-forum-description{padding:0px!important;font-size:14px!important}
#bbpress-forums .bbp-template-notice p.bbp-topic-description{padding:0px!important;font-size:14px!important}
#bbpress-forums .bbp-template-notice p{padding:0px!important;font-size:14px!important}
#bbpress-forums .bbp-pagination{padding:0px 0}
#bbpress-forums .bbp-pagination .page-numbers{background-color:#fff;border:1px solid #E3E7EA;margin-right:2px;padding:5px 9px 4px 9px;font-weight:bold}
#bbpress-forums .bbp-pagination a.page-numbers{color:#173347;text-decoration:none;font-weight:bold}
#bbpress-forums .bbp-pagination a.page-numbers:hover{background-color:#eee;text-decoration:none}
#bbpress-forums fieldset.bbp-form{padding:1px;border:1px solid #ddd!important;background-color:white;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}
#bbpress-forums fieldset.bbp-form legend{font-size:16px;padding:11px!important;position:relative;text-transform:uppercase;font-weight:bold}
#bbpress-forums fieldset.bbp-form input{border:1px solid #E3E7EA;background-color:white;font-size:14px;padding:5px}
#bbpress-forums fieldset.bbp-form select{width:346px!important}
#bbpress-forums fieldset.bbp-form p{padding:0px 0px!important;font-size:14px!important;color:#173347;margin-top:0px!important}
#bbpress-forums fieldset.bbp-form .bbp-submit-wrapper{float:left!important}
#bbpress-forums fieldset.bbp-form .bbp-submit-wrapper button{padding:6px 15px 6px!important;font-size:16px!important}
.bbp-reply-content ul,.bbp-reply-content ol,.bbp-reply-content li,.bbp-reply-content a,.bbp-reply-content p,.bbp-reply-content div{font-size:14px !important;line-height:1.5em !important}
.bbp-reply-content h2,.bbp-reply-content h3,.bbp-reply-content h4,.bbp-reply-content h5,.bbp-reply-content h6{line-height:1.1em !important}
.bbp-reply-content h2{font-size:23px}
.bbp-reply-content h3{font-size:21px}
.bbp-reply-content h4{font-size:19px}
.bbp-reply-content h5{font-size:17px}
.bbp-reply-content h6{font-size:15px}
.bbp-reply-content ul{margin:0;padding:12px 0 !important}
.bbp-reply-content ul li{list-style-type:disc !important;margin-left:18px !important}
.bbp-reply-content ol{margin:0;padding:12px 0 !important}
.bbp-reply-content ol li{list-style-type:decimal !important;margin-left:18px !important}
.bbp-reply-content p{padding:12px 0}
.bbp-reply-content blockquote{padding:24px;margin:12px 12px 12px 48px;background-color:#f0f7fa}
.bbp-reply-content blockquote p{font-style:italic !important;font-size:15px !important;color:#505050 !important}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count {
    background-color: #edecf0;
    color: #212121;
    font-size: 18px;
    height: 50px;
	padding:5px;
    line-height: 40px;
    margin-left: 24px;
    width: 70px;
}
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count {
    background-color: #edecf0;
    color: #212121;
    font-size: 18px;
    height: 50px;
	padding:5px;
    line-height: 40px;
    margin-left: 35px;
    width: 70px;
}

#bbpress-forums hr {
	margin: 0 0 24px 0;
}

#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
	font-size: 12px;
}

#bbpress-forums div.even,
#bbpress-forums ul.even {
	background-color: #fff;
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {
	background-color: #ffffff;
}

#bbpress-forums div.reply {
	height: auto;
}

#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
	background-color: #f4f4f4;
}

#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
	background-color: #fee;
}
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
	background-color: #fdd;
}

#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
	color: #ccc;
}

#bbpress-forums ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#bbpress-forums li {
	margin: 0;
	list-style: none;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies {
	font-size: 12px;
	overflow: hidden;
	border: 1px solid #eee;
	margin: 20px 0 ;
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
	background: #f3f3f3;
	border-top: 1px solid #eee;
	font-weight: bold;
	padding: 8px;
	text-align: center;
}

#bbpress-forums li.bbp-header {
	background: #eaeaea;
}

#bbpress-forums li.bbp-header ul {
	overflow: hidden;
}

#bbpress-forums .bbp-forums-list {
	margin: 0 0 0 5px;
	padding-left: 15px;
	border-left: 1px solid #ddd;
}

#bbpress-forums .bbp-forums-list li {
	display: block !important;
	font-size: 11px;
}

#bbpress-forums li.bbp-footer p {
	margin: 0;
	line-height: 1em;
}

#bbpress-forums .bbp-topic-content img,
#bbpress-forums .bbp-reply-content img {
	max-width: 100%;
}

#bbpress-forums .bbp-topic-content ul,
#bbpress-forums .bbp-reply-content ul {
	list-style: square;
	padding-left: 15px;
}

#bbpress-forums .bbp-forum-content p {
	margin: 5px 0 0;
	font-style: italic;
}

li.bbp-forum-info,
li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 55%;
}
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
	float: left;
	text-align: center;
	width: 10%;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
	text-align: left;
	padding-left:10px;
	float: left;
	width: 25%;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	border-top: 1px solid #eee;
	overflow: hidden;
	padding: 8px;
}

li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
	float: right;
}

#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
	float: left;
	text-align: center;
	width: 115px;
}

#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
	border: none;
	max-width: 80px;
	padding: 0;
	margin: 12px auto 0 auto;
	float: none;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 0 12px;
	word-break: break-word;
}

#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
	font-size: 11px;
	font-style: italic;
}

#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
	margin-left: 140px;
	padding: 12px 12px 12px 0;
	text-align: left;
}

#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
}

#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
	margin-left: 140px;
	padding: 0;
	text-align: left;
}

div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
	margin-bottom: 0;
	overflow: hidden;
	padding: 8px;
}

div.bbp-topic-header,
div.bbp-reply-header {
	border-top: 1px solid #ddd;
	clear: both;
}

span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aaa;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */

div.bbp-breadcrumb {
	float: left;
}

div.bbp-breadcrumb,
div.bbp-topic-tags {
	font-size: 12px;
}

#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
	margin-bottom: 10px
}

div.bbp-topic-tags {
	float: right;
}

/* =Admin Links
-------------------------------------------------------------- */

span.bbp-admin-links {
	float: right;
	color: #ddd;
}
span.bbp-admin-links a {
	color: #bbb;
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}
td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
}

/* =Toggles
-------------------------------------------------------------- */

.bbp-topic-action #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-topic-action #favorite-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #favorite-toggle span.is-favorite a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-topic-action #favorite-toggle span.is-favorite a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

.bbp-topic-action #subscription-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-topic-action #subscription-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #subscription-toggle span.is-subscribed a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-topic-action #subscription-toggle span.is-subscribed a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

#bbpress-forums p.bbp-topic-meta {
	margin: 5px 0 5px;
	font-size: 11px;
}

#bbpress-forums p.bbp-topic-meta span {
	white-space: nowrap;
}

/* =Pagination
-------------------------------------------------------------- */

.bbp-pagination-count {
	float: left;
}
.bbp-pagination-links {
	float: right;
}
.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	}
	.bbp-topic-pagination a {
		font-size: 10px;
		line-height: 10px;
		padding: 1px 3px;
		border: 1px solid #ddd;
		text-decoration: none;
	}

/* =Forms
-------------------------------------------------------------- */

#bbpress-forums fieldset.bbp-form {
	clear: left;
}

#bbpress-forums fieldset.bbp-form {
	border: 1px solid #eee;
	padding: 10px 20px;
	margin-bottom: 10px;
}

#bbpress-forums fieldset.bbp-form legend {
	padding: 5px;
}

#bbpress-forums fieldset.bbp-form label {
	margin: 0;
	display: inline-block;
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
	width: 100px;
}

#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
	margin: 0 0 8px;
}

textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
	width: 97%;
	box-sizing: border-box;
}

textarea#bbp_forum_content {
	height: 210px;
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}

/**
 * Fix for too-long forum names, usually from conversion
 */
#bbpress-forums fieldset select#bbp_forum_id {
	max-width: 200px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #CEEFE1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	width: 462px;
}

/* =TinyMCE in themes
-------------------------------------------------------------- */
#bbpress-forums div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
}

#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper input {
	font-size: 12px;
	padding: 5px;
	margin: 3px 0 0;
	line-height: 1em;
	margin: 0;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

#bbpress-forums div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

/* =Edit User
-------------------------------------------------------------- */

#bbpress-forums #bbp-your-profile fieldset {
	padding: 20px 20px 0 20px;
}
	#bbpress-forums #bbp-your-profile fieldset div {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: left;
	}
	#bbpress-forums #bbp-your-profile fieldset select {
		margin-bottom: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input,
	#bbpress-forums #bbp-your-profile fieldset textarea {
		margin-bottom: 0;
		width: 60%;
		background: #f9f9f9;
		border: 1px solid #ddd;
		box-shadow: none;
		padding: 5px 8px;
		border-radius: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input:focus,
	#bbpress-forums #bbp-your-profile fieldset textarea:focus {
		border: 1px solid #ccc;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		outline-color: rgba(240,255,240,0.1);
	}
	#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
		width: auto;
	}
	#bbpress-forums #bbp-your-profile fieldset legend {
		display: none;
	}
	#bbpress-forums #bbp-your-profile fieldset label[for] {
		float: left;
		width: 20%;
		padding: 5px 20px 5px 0;
		text-align: right;
		cursor: pointer;
	}
	#bbpress-forums #bbp-your-profile fieldset dl label[for] {
		text-align: left;
		width: 60%;
	}
	#bbpress-forums #bbp-your-profile fieldset span.description {
		margin: 5px 0 0 20%;
		font-size: 12px;
		font-style: italic;
		float: left;
		clear: left;
		width: 60%;
		padding: 5px 8px;
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}

	#bbpress-forums #bbp-your-profile fieldset fieldset {
		margin: 0;
		border: none;
		padding: 0;
		clear: none;
		float: none;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password {
		width: 60%;
		display: inline;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
		width: 100%;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
		margin: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
		margin-left: 0;
		margin-bottom: 20px;
	}

	#bbpress-forums #bbp-your-profile fieldset.submit button {
		float: right;
	}

/* =Notices
-------------------------------------------------------------- */

div.bbp-template-notice,
div.indicator-hint {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 15px;
	border-radius: 3px;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #141618;
	clear: both;
}
div.bbp-template-notice a {
	color: #555;
	text-decoration: none;
}
	div.bbp-template-notice a:hover {
		color: #141618;
	}
	div.bbp-template-notice.info {
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}
	div.bbp-template-notice.important {
		border: #e6db55 1px solid;
		background-color: #fffbcc;
	}
	div.bbp-template-notice.error,
	div.bbp-template-notice.warning {
		background-color: #ffebe8;
		border-color: #c00;
	}
	div.bbp-template-notice.error a,
	div.bbp-template-notice.warning a {
		color: #c00;
	}
	div.bbp-template-notice p {
		margin: 0.5em 0 6px 0 !important;
		padding: 2px;
		font-size: 12px;
		line-height: 140%;
	}

/* =Stickies
-------------------------------------------------------------- */

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	background-color: #ffffe0 !important;
	font-size: 1.1em;
}

/* =Revisions
-------------------------------------------------------------- */
#bbpress-forums .bbp-topic-revision-log,
#bbpress-forums .bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}

/* =Widgets
-------------------------------------------------------------- */

.bbp-login-form fieldset legend {
	display: none;
}

.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	padding: 5px;
}

.bbp-login-form label {
	width: 140px;
	display: inline-block;
}

#sidebar .bbp-login-form label {
	width: 70px;
}

.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}

.bbp-login-form .bbp-remember-me {

}

.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
}

.bbp-login-form .bbp-login-links {
}

.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}

.bbp-logged-in img.avatar {
	float: left;
	margin: 0 15px 0 0;
}

.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.3em;
	clear: none;
	margin-bottom: 10px;
}

/* =Avatars
-------------------------------------------------------------- */

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar,
#bbpress-forums p.bbp-topic-meta img.avatar {
	float: none;
	margin-bottom: 5px;
	border: 3px double #ddd;
}

fieldset div.avatar {
	float: right;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */

.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid #eaeaea;
	margin-left: 5px;
	padding-left: 10px;
}

/* =User Pages
-------------------------------------------------------------- */

#bbpress-forums h1 {
	clear: none;
	font-size: 1.8em;
	line-height: 1em;
	padding-bottom: 10px;
}

#bbpress-forums #bbp-user-wrapper {
	float: left;
	width: 100%;
}

#bbpress-forums #bbp-user-wrapper h2.entry-title {
	font-size: 1.4em;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 0;
	clear: none;
}

#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
	clear: none;
}

#bbpress-forums #bbp-single-user-details {
	margin: 0;
	width: 150px;
	float: left;
	overflow: hidden;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
	margin: 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
	border: none;
	height: 150px;
	padding: 0;
	margin: 0 0 20px 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-description {
	float: none;
	margin-left: 180px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
	float: none;
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
	padding: 5px 8px;
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #eee;
	opacity: 0.8;
}

#bbpress-forums #bbp-user-body {
	margin-left: 180px;
}

body.my-account #bbpress-forums {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

/* =User Capabilities
-------------------------------------------------------------- */

#bbpress-forums dl.bbp-user-capabilities {
	display: inline-block;
	vertical-align: top;
}

#bbpress-forums dl.bbp-user-capabilities dt {
	margin: 0 0 10px;
	text-transform: capitalize;
}

#bbpress-forums dl.bbp-user-capabilities dd {
	margin: 0;
	padding: 0;
}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */

#bbpress-forums div.row-actions {
	font-size: 11px;
	visibility: hidden;
}

#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}

