.footer-nav .menu {
	li {
		a {
			color: @light;
			padding: 0 5px;

			&:hover {
				background-color: transparent;
				color: @primary-color;
			}
		}

		.sub-menu {
			display: none !important;
		}
	}
}
 
.copyright {
	color: @light;

	a {
		color: @light;
	}
}

.site-footer {
	padding-bottom: 60px;
}

.section-lp-about {
	.textrotate {
		padding-right: 0;
	}
}

.section-lp-about .bxslider li {
	max-width: 100% !important;
	padding-right: 0 !important;
}