@import url("../font-awesome.min.css");

.field-type-icon .icons-block {
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
	background: #f0f0f0;
	border: 1px solid #ddd;
	display: none;
	width: 370px;
	position: relative;
}

.field-type-icon .icon-selector {
	padding: 6px;
	margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	max-height: 160px;
	overflow: auto;
	display: block;
}

.field-type-icon .icon-selector i {
	border-radius: 2px;
	display: inline-block;
	padding: 6px;
	margin: 4px;
	width: 20px;
	height: 20px;
	border: 1px solid #dfdfdf;
	background: #fff;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}

.field-type-icon .icon-selector i:before {
	vertical-align: middle;
}

.field-type-icon .icon-selector i.selected {
	border-color: #0089bd;
	background-color: #0089bd;
	color: #fff;
}

.field-type-image input {
	width: 320px;
}

#menu-to-edit li.menu-item .lp-mega-menu {
	margin-left: 10px;
	font-size: 0.8em;
	cursor: pointer;
	color: white;
	display: inline-block;
	width: auto;
	font-weight: normal;
	height: auto;
	background: #2ea2cc;
	border-color: #0074a2;
	border-width: 1px;
	padding: 0 5px;
	border-radius: 3px;
	opacity: 0;
	position: relative;
	z-index: 1000;
}

#menu-to-edit li.menu-item .item-title {
	margin-right: 0;
}

#menu-to-edit li.menu-item .menu-item-handle:hover .lp-mega-menu {
	opacity: 1;
}

.modal .field-mega-menu label {
	width: 140px;
	display: inline-block;
}

.modal .field-mega-menu input[type="text"],
.modal .field-mega-menu select{
	width: 80px;
}

.modal .field-mega-menu {
	width: 50%;
	float: left;
	padding-bottom: 10px;
}

.modal .clear {
	clear: both;
}

.modal .field-mega-menu.field-mega-menu-bg_image {
	width: 45%;
	float: left;
	padding-right: 5%;
	position: relative;
}

.modal .field-mega-menu.field-mega-menu-bg_image label {
	padding-bottom: 10px;
}

.modal .field-mega-menu .background-preview {
	position: relative;
	height: 170px;
	background-color: #ccc;
	background-size: cover;
}

.modal .field-mega-menu .background-preview .btn-select {
	position: relative;
	margin-top: 75px;
	margin-left: 65px;
	background-color: #00a0d2;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	border: none;
	cursor: pointer;
}

.modal .field-mega-menu .background-preview .btn-remove {
	display: none;
}

.modal .field-mega-menu .background-preview.has-image .btn-select {
	display: none;
}

.modal .field-mega-menu .background-preview.has-image .btn-remove {
	display: inline-block;
}

.modal .field-mega-menu.field-mega-menu-bg_content {
	width: 50%;
	float: left;
	margin-top: 10px;
}

.modal .field-mega-menu.field-mega-menu-bg_content .item-mega-menu-color label {
	float: left;
}

.modal .field-mega-menu.field-mega-menu-bg_content .wp-picker-container {
	position: relative;
}

.modal .field-mega-menu-bg_content .wp-picker-container .wp-picker-input-wrap {
	position: absolute;
	top: 35px;
	right: 0;
	width: 135px;
}

.modal .field-mega-menu-bg_content .wp-picker-container .wp-picker-holder {
	position: absolute;
	top: 58px;
	right: 0;
}

.modal .field-mega-menu.field-mega-content {
	clear: both;
	width: 100%;
}

.modal .field-mega-menu.field-mega-content label {
	padding-bottom: 10px;
}

.modal .field-mega-menu.field-mega-content textarea {
	width: 100%;
	height: 70px;
}

body.modal-open {
	overflow: inherit;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	display: none;
	overflow: hidden;
	outline: 0;
	background: rgba(0, 0, 0, 0.86);
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.modal .loading .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 44px;
	color: #fff;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.modal .modal-footer .refresh .fa {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	height: 26px;
	line-height: 26px;
}
.modal.fade .modal-dialog {
	transition: transform 0.3s ease-out;
	transform: translate3d(0, 0, 0);
}
.modal.in .modal-dialog {
	transform: translate3d(0, 0, 0);
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}
.modal-content {
	box-shadow: none;
	border-radius: 0;
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	outline: 0;
	border: none;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal-backdrop.fade {
	opacity: 0;
}
.modal-backdrop.in {
	opacity: .5;
}
.modal-header {
	padding: 20px;
	border-bottom: 1px solid #f1f1f1;
}
.modal-header h3 {
	margin: 0;
}
.modal-header .close {
	height: 40px;
	width: 40px;
	color: #444444;
	min-height: 40px;
	text-align: center;
	position: absolute;
	z-index: 99;
	right: 0px;
	border: none;
	padding: 0;
	top: 7px;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	position: relative;
	min-height: 40px;
	padding: 10px 30px 0;
}

.modal-footer {
	padding: 30px;
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	font-size: 21px;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
@media (min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 32px auto;
	}
	.modal-sm {
		width: 300px;
	}
}
@media (min-width: 992px) {
	.modal-lg {
		width: 900px;
	}
}
